@font-face {
    font-family: "Snell roundhand";
    src: url("../fonts/snell-roundhand/SnellBT-Regular.otf");
}
body {
    overflow-y: scroll;
    padding-top: 90px;
}
h1 {
    font-family: "Snell roundhand";
}

.anchor {
    padding-top: 60px;
    margin-top: -60px;
    text-align: justify;
}

.row {
    margin-bottom: 20px;
}

xmp {
    padding: 0;
    margin: 0;
    width: 50%;
    overflow: auto;
    display: inline-block;
}

#tei_link {
    position: absolute;
    right: 10px;
    background-color: white;
    border-radius: 5px;
}

/*
 * Typography
 */
.smallcaps {
    font-variant: small-caps;
}

/*
* Sidebar
*/
.sidebar {
    position: fixed;
    top: 80px;
    bottom: 80px;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* Height of navbar */
    height: calc(100vh - 160px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    background-color: transparent;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Utilities
 */
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

#footer {
    background-size: cover;
    background-image: url('../../img/papierpeint.png');
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0
}

#footer img {
    height: 32px;
}

#footer .links a {
    font-size: smaller;
    display: inline-block;
    color: #000;
    background-color: white;
    margin-right: 4px;
    border-radius: 5px;
    padding: 5px;
}

#footer .logos a:hover {
    text-decoration: none
}


#main-container {
    padding-bottom: 200px
}

/* 
 * Gallery
 */
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}
/* 
 * Project personalization
 */
#signature {
    background-size: cover;
    background-image: url('../../data/img/signature.png');
    opacity: 0.20;
    position: fixed;
    bottom: 60px;
    left: 60px;
    height: 200px;
    width: 600px;
    z-index: -1;
}

.nav-link {
    background-color: white;
    margin-right: 4px;
    border-radius: 5px;
}
#main-nav, #footer {
    height: 78px;
}

.person-card {
    max-width: 1190px;
}