{% extends "project.html.twig" %}{% block title %}Bibliographie autour de Madame De Sévigné - Bibliographie{% endblock %}

{% block tei_link %}./data/tei/HN_Sevigne_bib.xml{% endblock %}

{% block content %}
<div class="container">
   <div class="row">
      <div id="main-container" class="col text-justify">
         
         <H2>Bibliographie secondaire</H2>
         
         <ol class="bibl">
            <li>
               <span class="smallcaps">Ackerman</span> Simone, « Mme de Sévigné, souveraine protéiforme de la littérature épistolaire – un théâtre
               de la cruauté impressionniste », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 177-184.
            </li>
            <li>
               <span class="smallcaps">Adams</span> Marcie Elaine, La Représentation féminine du corps souffrant, M.A., University of Western Ontario, 1997 [Dissertation Abstracts International, 38/01, février 2000, p. 49].
            </li>
            <li>
               <span class="smallcaps">Allentuch</span> Harriet Maxine Ray, « My daughter / myself. Emotional roots of Mme de Sévigné’s art », Modern Language Quarterly, vol. 43, 1982, p. 121-137.
            </li>
            <li>
               <span class="smallcaps">Allentuch</span> Harriet Maxine Ray, « Setting Feelings to Words: Language and Emotion in the Letters of Madame de Sévigné », PFSCL, XV, n° 28, 1988, p. 239-244.
            </li>
            <li>
               <span class="smallcaps">Allentuch</span> Harriet Maxine Ray, A descriptive analysis of the personality of Mme de Sévigné, Ph. D., Columbia University, 1962 [Dissertation Abstracts International, A 34/07,
               janvier 1974, p. 4238].
            </li>
            <li>
               <span class="smallcaps">Allentuch</span> Harriet Maxine Ray, 
               <i>Mme de Sévigné, a portrait in Letters</i>, Baltimore, The John Hopkins Press, 1963.    
            </li>
            <li>
               <span class="smallcaps">Arey</span> Marie-Jo, L’espace d’une Sévigné : Relations spatiales et autogynographiques dans la Correspondance, Ph. D., Duke University, 1989, [Dissertation Abstracts International, A 50/11, mai 1990, p. 3611].
            </li>
            <li>
               <span class="smallcaps">Arey</span> Marie-Jo, « Un phénomène de dépendance : l’amour-maladie chez Sévigné et Proust », Symposium. A quaterly journal of modern foreign literatures, vol. XLV, n° 4, hiver 1992, p. 243-254.
            </li>
            <li>
               <span class="smallcaps">Arland</span> Marcel, « Mme de Sévigné. La lettre et le naturel », dans 
               <i>La Prose française. Anthologie, histoire et critique d’un art</i>, Paris, Stock, 1951, p. 435-447. 
            </li>
            <li>
               <span class="smallcaps">Arrou-vignod</span> Philippe, « La marquise et la comète », dans 
               <i>Le discours des absents</i>, Paris, Gallimard, 1993, p. 57-69.
            </li>
            <li>
               <span class="smallcaps">Arsenault</span> Philip Elwyn, The Literary Opinions of Mme de Sévigné, Ph. D. Princeton University, 1959 [Dissertation Abstracts International, 20/10 avril 1960, p. 4105].
            </li>
            <li>
               <span class="smallcaps">Arzel</span> Florence, 
               <i>La Bretagne chez Mme de Sévigné</i>, Spézat, Coop Breizh, 1996.
            </li>
            <li>
               <span class="smallcaps">Avigdor</span> Eva, 
               <i>Mme de Sévigné. Un portrait intellectuel et moral</i>, Paris, Nizet, 1974.
            </li>
            <li>
               <span class="smallcaps">Avigdor</span> Eva, « La vraie préciosité d’une véritable précieuse », XVIIe Siècle, n° 108, 3e trimestre 1975, p. 59-74.
            </li>
            <li>
               <span class="smallcaps">Avrane</span> Patrick, « Un canapé pour la marquise ? », Europe, n° 801-802, « Mme de Sévigné », janvier-février 1996, p. 80-89.
            </li>
            <li>
               <span class="smallcaps">Bachellier</span> Évelyne, « De la conversation à la conversion », Communications, n° 30, 1980, p. 31-56.
            </li>
            <li>
               <span class="smallcaps">Bachellier</span> Évelyne, 
               <i>L’Humeur de ma mère, l’humeur de ma fille. La correspondance de Mme de Sévigné</i>, sous la dir. de J. Kristeva, thèse de 3ème cycle, Université Paris-VII, 1987.
            </li>
            <li>
               <span class="smallcaps">Barnwell</span> Henry Thomas, « L’art épistolaire de Mme de Sévigné dans les lettres sur le procès Foucquet », dans W. Leiner et P. Ronzeaud (dir.), 
               <i>Correspondances. Mélanges offerts à Roger Duchêne</i>, Narr, Tübingen-Publications de l’Université de Provence, Aix-en-Provence, 1992, p. 387-394.
            </li>
            <li>
               <span class="smallcaps">Baudin</span> Henri, « L’italianisme dans les Lettres de Mme de Sévigné » [8e Congrès Soc. franç. de Litt. comparée, Grenoble / Chambéry, 1996], Studi francesi, n° 35, 1968, p. 109-118.
            </li>
            <li>
               <span class="smallcaps">Bernet</span> Anne, 
               <i>Mme de Sévigné. Mère passion</i>, Paris, Perrin, 1996.
            </li>
            <li>
               <span class="smallcaps">Beugnot</span> Bernard, « Mme de Sévigné telle qu’en elle-même enfin ? », French Forum, V, 1980, p. 207-217.
            </li>
            <li>
               <span class="smallcaps">Blanc</span> André, « La rhétorique de l’adieu dans les lettres à Mme de Grignan », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 361-371.
            </li>
            <li>
               <span class="smallcaps">Boissieu</span> Jean-Louis de  et GARAGNON Anne-Marie, « Mme de Sévigné : Lettre du 21 octobre 1671 à Mme de Grignan », Commentaires stylistiques, Paris, SEDES, 1997, p. 95-118.
            </li>
            <li>
               <span class="smallcaps">Bonvalet</span> Nicole, « Études parallèles. Lorsque les femmes lisent Mme de Sévigné », Œuvres et critiques, V, 1, 1980, p. 121-142.
            </li>
            <li>
               <span class="smallcaps">Bourgeois-courtois</span> Muriel, « Mme de Sévigné et la notion de “monde” », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 335-344.
            </li>
            <li>
               <span class="smallcaps">Bray</span> Bernard, 
               <i>Épistoliers de l’âge classique. L’art de la correspondance chez Mme de Sévigné et
                  quelques prédécesseurs, contemporains et héritiers
               </i>, Tübingen, Narr, coll. « Études littéraires françaises », 2007.
            </li>
            <li>
               <span class="smallcaps">Bray</span> Bernard, «  Quelques aspects du système épistolaire de Mme de Sévigné » [1969], repris dans 
               <i>Épistoliers de l’âge classique</i>, op. cit., p. 245-259.
            </li>
            <li>
               <span class="smallcaps">Bray</span> Bernard, « Les voitures de Mme de Sévigné », Romanische Forschungen, LXXXIII, 1971, p. 596-602.
            </li>
            <li>
               <span class="smallcaps">Bray</span> Bernard, « L’épistolière au miroir. Réciprocité, réponse et rivalité dans les lettres de Madame
               de Sévigné à sa fille » [1973], repris dans 
               <i>Épistoliers de l’âge classique</i>, op. cit., p. 283-292.
            </li>
            <li>
               <span class="smallcaps">Bray</span> Bernard, « Mme de Sévigné et l’art de la narration » [1988], repris dans 
               <i>Épistoliers de l’âge classique</i>, op. cit., p. 293-298.
            </li>
            <li>
               <span class="smallcaps">Bray</span> Bernard, « “Une femme de Vitré” : Mme de Sévigné épistolière aux Rochers » [1991], repris dans  
               <i>Épistoliers de l’âge classique</i>, op. cit., p. 299-308.
            </li>
            <li>
               <span class="smallcaps">Bray</span> Bernard, « Isabelle de Charrière, la “Sévigné de notre siècle” » [1995], repris dans 
               <i>Épistoliers de l’âge classique</i>. op. cit., p. 485-500.
            </li>
            <li>
               <span class="smallcaps">Bray</span> Bernard, « L’art épistolaire de Mme de Sévigné » [1996], repris dans 
               <i>Épistoliers de l’âge classique, op. cit.</i>, p. 260-268.
            </li>
            <li>
               <span class="smallcaps">Bray</span> Bernard, « Le style épistolaire : la leçon de Mme de Sévigné » [1996], repris dans 
               <i>Épistoliers de l’âge classique</i>, op. cit., p. 317-330.
            </li>
            <li>
               <span class="smallcaps">Bray</span> Bernard, « Premier lecteur, premier admirateur, le cousin Bussy-Rabutin » [1996], repris dans 
               <i>Épistoliers de l’âge classique</i>, op. cit., p. 331-341.
            </li>
            <li>
               <span class="smallcaps">Bray</span> Bernard, « Causerie et conversation dans les lettres de Madame de Sévigné » [2006], repris dans 
               <i>Épistoliers de l’âge classique</i>, op. cit., p. 269-282.
            </li>
            <li>
               <span class="smallcaps">Bury</span> Emmanuel, « Mme de Sévigné face aux critiques du XIXe siècle : Sainte-Beuve et consorts », RHLF, « Images de Mme de Sévigné », mai-juin 1996, p. 446-460.
            </li>
            <li>
               <span class="smallcaps">Cagnat</span> Constance, « Les histoires tragiques de Mme de Sévigné », XVIIe Siècle, n° 175, avril-juin 1992.
            </li>
            <li>
               <span class="smallcaps">Caillé</span> Stéphane, « L’apparition de Mme de Sévigné dans la Recherche : la création d’un précurseur », Bulletin Marcel Proust, n° 47, p. 24-37.
            </li>
            <li>
               <span class="smallcaps">Cajat</span> Claude, 
               <i>Mme de Sévigné à Paris et en Île-de-France</i>, Étrépilly, Les Presses du Village-Christian de Bartillat, « Collection Bleu », 2006.
            </li>
            <li>
               <span class="smallcaps">Capasso</span> Ruth Carver, The portrait in letters of Mme de Sévigné, Ph. D., Harvard University, 1983 [Dissertation Abstracts International A 44/06, décembre 1983, p. 1808].
            </li>
            <li>
               <span class="smallcaps">Cartmill</span> Constance,  « Le général et le singulier ou Les avatars de On dans les Lettres de Mme de Sévigné », Œuvres et critiques, XIX, 1, 1994, p. 135-137.
            </li>
            <li>
               <span class="smallcaps">Cartmill</span> Constance, On ou les avatars de je dans la Correspondance de Mme de Sévigné, Ph. D., Queen’s University at Kingston, 1994 [Dissertation Abstracts International, A 56/04, octobre 1995, p. 1380].
            </li>
            <li>
               <span class="smallcaps">Cartmill</span> Constance, « Mme de Sévigné et la théorie de la sympathie », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 277-286.
            </li>
            <li>
               <span class="smallcaps">Cartmill</span> Constance, « Inventions du moi à l’âge classique : Sévigné et Bussy-Rabutin », dans P. Beaulieu et D. Desrosiers-Bonir (dir.), 
               <i>Dans les miroirs de l’écriture</i>,  Montréal, Département d’études françaises, coll. « Paragraphes », 1998, p. 117-123.
            </li>
            <li>
               <span class="smallcaps">Cartmill</span> Constance, « La Providence chez Mme de Sévigné : jansénisme ou mondanité ? », dans R.-G. Hodgson (dir.), 
               <i>La Femme au XVIIe siècle</i>. Actes du colloque de Vancouver, University of British Columbia (5-7 octobre 2000),
               Tübingen, Narr, « Biblio 17 », 138, 2002, p. 315-323.
            </li>
            <li>
               <span class="smallcaps">Cartmill</span> Constance, « Les déguisements du moi dans la Correspondance de Mme de Sévigné ou la naissance de
               l’autobiographie », 
               <i>La Spiritualité / L’Épistolaire / Le Merveilleux au Grand Siècle</i>, Actes du 33e Congrès de la North American Society French Literature, t. III, Arizona
               State University (Tempe), D. Wetsel et F. Canovas (dir.), « Biblio 17 », 145, Tübingen, Narr, 2003, p. 139-146.
            </li>
            <li>
               <span class="smallcaps">Cartmill</span> Constance, « Mme de Sévigné, lectrice de Pierre Nicole. La lettre à l’épreuve de l’essai », dans I. Brouard-Arends (dir.), 
               <i>Lectrices d’Ancien Régime</i>, Rennes, PUR, 2003, p. 351-359.
            </li>
            <li>
               <span class="smallcaps">Charles</span> Michel, 
               <i>Introduction à l’étude des textes</i>, Paris, Seuil, 1995, p. 249-259.
            </li>
            <li>
               <span class="smallcaps">Chédozeau</span> Bernard, « Religion et morale chez Mme de Sévigné », Marseille, n° 95, 4ème trimestre 1973, p. 53-60.
            </li>
            <li>
               <span class="smallcaps">Chédozeau</span> Bernard, « Quelques notes sur la religion de Mme de Sévigné », Europe, n° 801-802, « Mme de Sévigné », janvier-février 1996, p. 113-122.
            </li>
            <li>
               <span class="smallcaps">Chomel</span> Josée et 
               <span class="smallcaps">Chomel</span> Philippe, 
               <i>Mme de Sévigné à Grignan</i>, Lyon, Aubanel, 1996.
            </li>
            <li>
               <span class="smallcaps">Collinet</span> Jean-Pierre, « Bussy-Rabutin et la naissance de Mme de Sévigné à l’existence littéraire », Mémoires de la Société éduenne, tome 55, fasc. 3, 1993-1994, p. 245-253.
            </li>
            <li>
               <span class="smallcaps">Cordelier</span> Jean, 
               <i>Mme de Sévigné par elle-même</i>, Paris, Seuil, coll. « Les écrivains de toujours », 1973.
            </li>
            <li>
               <span class="smallcaps">Cordelier</span> Jean, « Mme de Sévigné seule devant la mort », Marseille, 95, 4e trimestre 1973, p. 71-82.
            </li>
            <li>
               <span class="smallcaps">Cordelier</span> Jean, « Mme de Sévigné… dans tous ses états », Marseille, 118, 3e trimestre 1979, p. 65-76.
            </li>
            <li>
               <span class="smallcaps">Couprie</span> Alain, « Mme de Sévigné, “Vive donc notre vieil ami Corneille !” », dans M. Bertaud et A. Niderst (dir.), 
               <i>Onze études sur la vieillesse de Corneille dédiées à la mémoire de Georges Couton</i>, Boulogne-Rouen-Paris, Klincksieck, 1994, p. 153-170.
            </li>
            <li>
               <span class="smallcaps">Couvreur</span> Manuel, « L’oreille de Mme de Sévigné », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 191-204.
            </li>
            <li>
               <span class="smallcaps">Craveri</span> Benedetta, « Mme de Sévigné et Mme de Lafayette : une longue amitié », chap. X de 
               <i>L’Âge de la conversation</i> [2001], Paris, Gallimard, coll. « Tel », 2002, p. 263-310.
            </li>
            <li>
               <span class="smallcaps">Craveri</span> Benedetta, « Mme du Deffand et Mme de Sévigné : les enjeux d’un modèle », dans B. Diaz et J. Siess (dir.), 
               <i>L’Épistolaire au féminin. Correspondances de femmes (XVIIIe-XIXe siècle)</i>, Actes du Colloque de Cerisy-la-Salle (1er-5 octobre 2003), Caen, Presses universitaires de Caen, 2006, p. 163-177.
            </li>
            <li>
               <span class="smallcaps">Croquette</span> Bernard, « La “Lettre des foins” est-elle de Mme de Sévigné ? », XVIIe Siècle, n° 148, juillet-septembre 1985, p. 317-320.
            </li>
            <li>
               <span class="smallcaps">Dandrey</span> Patrick, « Pouvoir et séduction : Mme de Sévigné, Esther et le Roi », Cahiers de littérature du XVIIème siècle, n° 7, 1985, p. 23-45.
            </li>
            <li>
               <span class="smallcaps">Depretto</span> Laure, L’Éventail de la marquise. Pratiques intertextuelles dans la correspondance de Mme
               de Sévigné, mémoire de maîtrise, sous la dir. de  M. Escola, Université Paris IV, juin 2005.
            </li>
            <li>
               <span class="smallcaps">Deprun</span> Jean, « Mme de Sévigné et les controverses post-cartésiennes. Des “Animaux-Machines” aux “Âmes
               vertes” », Marseille, n° 95, 4e trimestre 1973, p. 43-52.
            </li>
            <li>
               <span class="smallcaps">Descombes</span> Vincent, « Le côté Dostoïevski de Mme de Sévigné », 
               <i>Proust : philosophie du roman</i>, Paris, Minuit, 1987, p. 257-271.
            </li>
            <li>
               <span class="smallcaps">Desprechins</span> Anne, « Regard de Mme de Sévigné sur le jardin », dans W. Leiner et P. Ronzeaud (dir.), 
               <i>Correspondances. Mélanges offerts à Roger Duchêne</i>, Tübingen-Paris, Narr-Publications de l’Université de Provence, 1992, p. 395-404.
            </li>
            <li>
               <span class="smallcaps">Desprechins</span> Anne, « Mme de Sévigné sourde au langage des formes », dans F.-R. Hausman, C. Miething et M. Zimmermann (dir.), 
               <i>« Diversité, c’est ma devise ». Studien zur französischen Literatur des 17. Jahrhunderts.
                  Feschrift für Jürgen Grimm
               </i>, PFSCL, « Biblio 17 », 86, 1994, p.146-154. 
            </li>
            <li>
               <span class="smallcaps">Dostie</span> Pierre, « La mort de Turenne dans la Correspondance de Mme de Sévigné, ou la naissance d’un
               mythe », PFSCL, XV, 1988, p. 115-129.
            </li>
            <li>
               <span class="smallcaps">Dostie</span> Pierre, « Un récit séquentiel dans la Correspondance de Mme de Sévigné, la visite de Versailles
               de 1676 », New Zealand Journal of French Studies, vol. 11, n° 1, mai 1990, p. 23-31. 
            </li>
            <li>
               <span class="smallcaps">Dostie</span> Pierre, « Fouquet sur la sellette : le procès d’un héros cornélien dans la Correspondance de
               Mme de Sévigné », PFSCL, vol. XXII, n° 43, 1995, p. 583-595.
            </li>
            <li>
               <span class="smallcaps">Dostie</span> Pierre, « “Il ne faut point qu’il sorte du talent qu’il a de conter”. Mme de Sévigné, critique
               des Fables de La Fontaine », Cahiers d’Histoire des littératures romanes, 19, 3/4, 1995, p. 251-260.
            </li>
            <li>
               <span class="smallcaps">Dostie</span> Pierre, « Du faste au dépouillement. Deux “manières de peindre” chez Sévigné », Cahiers du Dix-septième, VII, 1, printemps 1997, p. 149-160.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Jacqueline, 
               <i>Françoise de Grignan, ou Le mal d’amour</i>, Paris, Fayard, 1985.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Jacqueline, 
               <i>Bussy-Rabutin</i>, Paris, Fayard, 1992.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Jacqueline, « Derrière le rideau », Europe, n° 801-802, « Mme de Sévigné », janvier-février 1996, p. 90-99.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Jacqueline, « “Mes petites entrailles”, ou l’art d’être grand-mère de Mme de Sévigné », dans R. Duchêne et P. Ronzeaud (dir.), 
               <i>Autour de Mme de Sévigné</i>. Deux colloques pour un Tricentenaire : Rapports mère-fille au XVIIe siècle et de
               nos jours (Marseille 20-21 janvier 1996) ; Les voyages en France au XVIIe siècle (Aix-en-Provence
               27-28 octobre 1996), Paris-Seattle-Tübingen, PFSCL, coll. « Biblio 17 », 105, 1997, p. 51-60.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, 
               <i>Mme de Sévigné, Paris, Desclée de Brouwer</i>, coll. « Les écrivains devant Dieu », 1968.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, Mme de Sévigné et la lettre d’amour, [1970], Paris, Klincksieck, coll. « Bibliothèque de l’Âge classique », 1992.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, 
               <i>Naissances d’un écrivain : Mme de Sévigné</i>, Paris, Fayard, 1996.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger et 
               <span class="smallcaps">Ronzeaud</span> Pierre (dir.), 
               <i>Autour de Mme de Sévigné</i>. Deux colloques pour un Tricentenaire : Rapports mère-fille au XVIIe siècle et de
               nos jours (Marseille 20-21 janvier 1996) ; Les voyages en France au XVIIe siècle (Aix-en-Provence
               27-28 octobre 1996), Paris-Seattle-Tübingen, PFSCL, coll. « Biblio 17 », 105, 1997.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, 
               <i>Mme de Sévigné ou la chance d’être femme</i>, Paris, Fayard, 2002.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Mme de Sévigné en Provence : trois lettres inédites de l’abbé de Coulanges », RHLF, n° 62, 1962, p. 167-179. 
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Une reconnaissance excessive ? Mme de Sévigné et son Bien Bon », Dix-septième Siècle, n° 74, 1967, p. 27-53.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Une grande dame et l’architecture. Mme de Sévigné et les Mansart », Marseille, n° 86, 1971, p. 19-24.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Réalité vécue et réussite littéraire : le statut particulier de la lettre » [1971], repris dans 
               <i>Écrire au temps de Mme de Sévigné</i>, Paris, Vrin, 1981, p. 11-28.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Lettres et Mémoires : La marquise de Sévigné et le Grand Prévôt de Sourches » [1971], repris dans 
               <i>Écrire au temps de Mme de Sévigné</i>, Paris, Vrin, 1981, p. 103-120.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Les Provençaux de Mme de Sévigné », Marseille, 95, 4e trimestre, 1973, p. 99-104.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Du destinataire au public, ou les métamorphoses d’une correspondance privée » [1976], repris dans 
               <i>Écrire au temps de Mme de Sévigné</i>, Paris, Vrin, 1981, p. 29-45.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Signification du romanesque : L’exemple de Mme de Sévigné », [1977], repris dans 
               <i>Écrire au temps de Mme de Sévigné</i>, Paris, Vrin, 1981, p. 121-137.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « L’esthétique de la négligence : le cas particulier de la lettre » [1976], repris dans 
               <i>Écrire au temps de Mme de Sévigné</i>, Paris, Vrin, 1981, p. 113-127. 
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Une grande dame et la rhétorique. Mme de Sévigné et Père Le Bossu », 
               <i>Critique et création littéraires en France au XVIIe siècle</i>. Colloque de Paris (4-6 juin 1974), Paris, Éd. du CNRS, 1977, p. 273-290.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Note sur le texte », dans 
               <i>Mme de Sévigné, Correspondance</i>, R. Duchêne (éd.), Paris, Gallimard, coll. « Bibliothèque de la Pléiade », 1978, t. I, p. 755-832.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Texte public, texte privé. Le cas de Mme de Sévigné » [1981], repris dans 
               <i>Écrire au temps de Mme de Sévigné</i>, Paris, Vrin, 1981, p. 223-239.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Comment lisait Mme de Sévigné ? », Littératures, n° 6, automne 1982, p. 35-49.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Mme de Sévigné entre la communication et l’écriture », L’information littéraire, mars-avril 1983, p. 54-59.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Art et hasard. Petit bilan de la correspondance de Mme de Sévigné », dans U. Döring, A. Lyroudias et R. Zaiser (dir.), 
               <i>Ouverture et dialogue</i>. Mélanges offerts à Wolfgang Leiner à l’occasion de son soixantième anniversaire,
               Tübingen, Narr, 1988, p. 133-145.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Le mythe de l’épistolière : Mme de Sévigné », dans M. Bossis et C.-A. Porter (dir.), 
               <i>L’Épistolarité à travers les siècles. Geste de communication et/ou d’écriture</i>. Actes du Colloque du Centre  Culturel International de Cerisy la Salle (juillet
               1987), Stuttgart, Franz Steiner, 1990, p. 11-19.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Métamorphoses », RHLF, mai-juin 1996, « Images de Mme de Sévigné », p. 359-365.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Bussy et Mme de Sévigné : une vengeance posthume », dans T. Noblat-Rérolle, J. Queneau et D.-H. Vincent (dir.), 
               <i>Bussy-Rabutin. L’homme et l’œuvre</i>, Dijon, Société des Amis de Bussy-Rabutin, 1995, p. 259-272.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Mme de Sévigné, personnage de roman dans l’œuvre de Proust », RHLF, XCVI, « Images de Mme de Sévigné », mai-juin 1996, p. 461-474.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Mme de Sévigné. Un féminin pluriel », et « Genre masculin, pratique féminine. De “l’épistolière inconnue” à la marquise de Sévigné », Europe, n° 801-802, janvier-février 1996, p. 3-5 et 27-39.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « En voyage avec Mme de Sévigné », dans R. Duchêne et P. Ronzeaud (dir.), 
               <i>Autour de Mme de Sévigné</i>. Deux colloques pour un Tricentenaire : Rapports mère-fille au XVIIe siècle et de
               nos jours (Marseille 20-21 janvier 1996) ; Les voyages en France au XVIIe siècle (Aix-en-Provence
               27-28 octobre 1996), Paris-Seattle-Tübingen, PFSCL, coll. « Biblio 17 », 105, 1997, p. 101-111
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « En Provence et à Monaco : un voyage imaginaire de Mme de Sévigné », dans R. Duchêne et P. Ronzeaud (dir.), 
               <i>Autour de Mme de Sévigné</i>. Deux colloques pour un Tricentenaire : Rapports mère-fille au XVIIe siècle et de
               nos jours (Marseille 20-21 janvier 1996) ; Les voyages en France au XVIIe siècle (Aix-en-Provence
               27-28 octobre 1996), Paris-Seattle-Tübingen, PFSCL, coll. « Biblio 17 », 105, 1997, p. 229-244.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Poste et création littéraire : le cas des lettres de Mme de Sévigné », dans P. Albert (dir.), 
               <i>Correspondre jadis et naguère</i>. Actes du 120e congrès national des Sociétés historiques et scientifiques, section
               d’Histoire moderne et contemporaine, 23-29 octobre 1995, Aix-en-Provence, Paris, Comité des travaux historiques et scientifiques 1997, p. 111-120.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Un horizon qui se perd dans l’infini. À propos de la traduction récente d’un livre
               de Fritz Nies Les Lettres de Mme de Sévigné. Conventions du genre et sociologie des
               publics », PFSCL, XXX, 58, 2003, p. 208-230.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Roger, « Mme de Sévigné et la cour », Seventeenth-Century French Studies, X, 1988, p. 88-100.
            </li>
            <li>
               <span class="smallcaps">Escola</span> Marc, « La seconde main de la marquise : fiction et diction dans les Lettres de Mme de Sévigné », La Licorne, n° 79, « Le savoir des genres », R. Baroni et M. Macé (dir.), 2006, p. 201-210.
            </li>
            <li>
               <span class="smallcaps">Farrell</span> Michèle Longino, « Patterns of excellence. Mme de Sévigné in the classical maternal tradition », PFSCL, XIII, 25, 1986, p. 27-38.
            </li>
            <li>
               <span class="smallcaps">Farrell</span> Michèle Longino, « Writing Letters, Telling Tales, Making History : Vatel’s Death Told and Retold », The French Review, vol. 66, n° 2, décembre 1992, p. 229-242.
            </li>
            <li>
               <span class="smallcaps">Farrell</span> Michèle Longino, « Grandmother Sévigné Shaping Relationships », Stanford French Review, XI, 3, automne 1987, p. 279-296.
            </li>
            <li>
               <span class="smallcaps">Farrell</span> Michèle Longino, « Mme de Sévigné, the art of vicarious living », dans M. Guggenheim (dir.), 
               <i>Women in French literature. A collection of essays</i>, Saratoga (Californie), Stanford French and Italian Studies, 58, 1988, p. 65-75.
            </li>
            <li>
               <span class="smallcaps">Farrell</span> Michèle Longino, 
               <i>Performing motherhood. The Sévigné correspondence</i>, Hanover-London, University Press of New England, VIII, 1981.
            </li>
            <li>
               <span class="smallcaps">Farrell</span> Michèle Longino, Sévigné’s Correspondance : the Rhetoric of the Letters and the Performance of Maternity, Ph. D., University of Michigan, 1984 [Dissertation Abstracts International, A 45/12, juin 1985, p. 3652].
            </li>
            <li>
               <span class="smallcaps">Fischer</span> Martine, « De la devinette dans les lettres de Mme de Sévigné” », dans R. Duchêne, (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 203-240.
            </li>
            <li>
               <span class="smallcaps">Forray-carlier</span> Anne et BRUSON Jean-Marie, 
               <i>Mme de Sévigné</i>. Catalogue de l’exposition du musée Carnavalet (15 octobre 1996-12 janvier 1997), préface de R. Duchêne, Paris, Paris musées-Flammarion, 1996.
            </li>
            <li>
               <span class="smallcaps">Francalanza</span> Éric, « Mme de Sévigné à la fin du XVIIIe siècle : un encyclopédiste contre Voltaire », dans L. Fraisse (dir.), 
               <i>L’Histoire littéraire : ses méthodes et ses résultats.</i> Mélanges offerts à Madeleine Bertaud, Genève, Droz, 2001, p. 221-237.
            </li>
            <li>
               <span class="smallcaps">Freidel</span> Nathalie, « Le badinage de Mme de Sévigné : respect des conventions ou attitude originale ? », PFSCL, XXXI, 60, 2004, p. 175-192.
            </li>
            <li>
               <span class="smallcaps">Freudmann</span> Félix R., « Les morailles et le moral. Le rôle de la maladie dans les lettres de Mme de Sévigné », Marseille, 95, 4e trimestre 1973, p. 83-88.
            </li>
            <li>
               <span class="smallcaps">Gaillard de champris</span> Henry, « Autour d’un procès intenté à la mémoire de Mme de Sévigné », Revue des Travaux de l’Académie des Sciences Morales et Politiques, 107e année, 4e série, 2e semestre 1954, p. 94-108.
            </li>
            <li>
               <span class="smallcaps">Gaillard de champris</span> Henry, « La vie religieuse de Mme de Sévigné », Revue de l’Enseignement chrétien, LXIXe année, n° 3, déc. 1955, p. 151-158.
            </li>
            <li>
               <span class="smallcaps">Gaillard de champris</span> Henry, 
               <i>Les Écrivains classiques</i>, t. IV de J. Calvet (dir.), 
               <i>Histoire de la littérature française</i>, Paris, de Gigord, 1934.
            </li>
            <li>
               <span class="smallcaps">Garaud</span> Christian, « Qu’est-ce que le rabutinage ? », XVIIe siècle, n° 93, 1971, p. 27-53.
            </li>
            <li>
               <span class="smallcaps">Gazier</span> Cécile, « Mme de Sévigné et Port-Royal », Le Correspondant, Paris, 1926,
            </li>
            <li>
               <span class="smallcaps">Gazier</span> Cécile, « Tout une vie : Mme de Sévigné », Les Belles Amies de Port-Royal, Paris, Perrin, 1930, p. 153-219.
            </li>
            <li>
               <span class="smallcaps">Gérard</span> Mireille, « Les médecins dans la correspondance de Mme de Sévigné. Document ou littérature ? », Marseille, n° 95, 4e trimestre 1973, p. 89-98.
            </li>
            <li>
               <span class="smallcaps">Gérard</span> Mireille, « Molière dans la correspondance de Mme de Sévigné », RHLF, n° 73, 1973, p. 608-625.
            </li>
            <li>
               <span class="smallcaps">Gérard</span> Mireille, « Après la découverte de dix autographes : les lettres de Mme de Sévigné au président
               de Moulceau », RHLF, mai-juin 1974, p. 474-482.
            </li>
            <li>
               <span class="smallcaps">Gérard</span> Mireille, « La Fontaine, Mme de Sévigné et Clymène » dans 
               <i>Mélanges de littérature du Moyen-Âge au XXe siècle</i>, offerts à Melle Jeanne Lods, Paris, École Normale Supérieure de Jeunes Filles, 1978, p. 679-697.
            </li>
            <li>
               <span class="smallcaps">Gérard</span> Mireille, « Mme de Sévigné et Port-Royal : le milieu familial (1619-1644) », Chroniques de Port-Royal, « Réseaux d’amitiés parisiennes de Port-Royal », 1989, p. 9-31.
            </li>
            <li>
               <span class="smallcaps">Gérard</span> Mireille, « Le corpus cornelianum dans la correspondance de Mme de Sévigné », dans Y. Bellenger, G. Conesa, J. Garapon, C. Mazouer et J. Serroy (dir.), 
               <i>L’Art du théâtre. Mélanges en hommage à Robert Garapon</i>, Paris, PUF, 1992, p. 121-131.
            </li>
            <li>
               <span class="smallcaps">Gérard</span> Mireille, « Mme de Sévigné », dans B. Didier (dir.), 
               <i>Dictionnaire universel des littératures</i>, Paris, PUF, 1994, p. 3487-3489.
            </li>
            <li>
               <span class="smallcaps">Gérard</span> Mireille, « L’idée de badinage en prose dans la Correspondance de Mme de Sévigné : premières remarques », dans R. Duchêne, 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 223-232.
            </li>
            <li>
               <span class="smallcaps">Gérard-gailly</span> Émile, « Introduction » aux Lettres de Mme de Sévigné, É. Gérard-Gailly (éd.), Paris, Gallimard, coll. « Bibliothèque de la Pléiade », 3 tomes, 1953-1957, p. 7-93.
            </li>
            <li>
               <span class="smallcaps">Gérard-gailly</span> Émile, 
               <i>Mme de Sévigné</i>, Paris, Hachette, 1971.
            </li>
            <li>
               <span class="smallcaps">Goldsmith</span> Elizabeth Clark, Bridging distances. Writing as displacement and location in the letters of Mme de
               Sévigné, Ph. D., Cornell University, 1978 [Dissertation Abstracts International, A 41/01, p. 273 A].
            </li>
            <li>
               <span class="smallcaps">Goldsmith</span> Elizabeth Clark, « Proust and Mme de Sévigné’s letters. Some aspects of epistolary writing », PFSCL, VIII, 15, 2, 1981, p. 117-127.
            </li>
            <li>
               <span class="smallcaps">Goldsmith</span> Elizabeth Clark, « Mme de Sévigné’s Epistolary Retreat », L’Esprit Créateur, vol. XXIII, n° 2, «Womens’ writing in seventeenth century », J. Dejean (dir.), été 1983, p. 70-79.
            </li>
            <li>
               <span class="smallcaps">Goldsmith</span> Elizabeth Clark, « Giving Weight to Words : Mme de Sévigné’s Letters to Her Daughter », New York Literary Forum, vol. 12-13, 1984, p. 107-115.
            </li>
            <li>
               <span class="smallcaps">Goldsmith</span> Elizabeth Clark, « Sociability and intimacy in the letters of Mme de Sévigné », dans 
               <i>« Exclusive Conversations ». The art of interaction in seventeenth-century France</i>, Philadelphia, University of Pennsylvania Press, 1988, VIII, p. 111-141.
            </li>
            <li>
               <span class="smallcaps">Gramignia</span> Valeria, « La mise en scène de la parole dans les lettres de Mme de Sévigné », Romanistische Zeitsschrifte für Literaturgeschichte, n° 24, 3/4, Heidelberg, 2000, p. 265-276.
            </li>
            <li>
               <span class="smallcaps">Grassi</span> Marie-Claire, « Naissance d’un nouveau modèle : l’apparition de Mme de Sévigné dans les traités d’art
               épistolaire », RHLF, « Images de Mme de Sévigné », mai-juin 1996, p. 378-93.
            </li>
            <li>
               <span class="smallcaps">Guénoun</span> Solange, « Correspondance et paradoxe », PFSCL, VIII, 15, 2, 1981, p. 137-152.
            </li>
            <li>
               <span class="smallcaps">Guénoun</span> Solange, La « Correspondance » de Mme de Sévigné et de Mme de Grignan. Une séparation littéraire, Ph. D., Princeton Univ., 1981 [Dissertation Abstracts International, A 41-10, avril 1981, p. 4412].
            </li>
            <li>
               <span class="smallcaps">Gutwirth</span> Marcel,  
               <i>Mme de Sévigné, classique à son insu</i>, Tübingen, Narr, « Biblio 17 », 153, 2004.
            </li>
            <li>
               <span class="smallcaps">Guyard</span> Marius-François, « Faut-il damner Mme de Sévigné ? », Études, tome 280, février 1954, n° 2, p. 193-202.
            </li>
            <li>
               <span class="smallcaps">Hamel</span> Françoise, « 
               <i>Ma chère mère… » Quand Mme de Grignan répondait à Mme de Sévigné</i>, Paris, Plon, 2001.
            </li>
            <li>
               <span class="smallcaps">Hammond</span> Nicholas, « Mme de Sévigné et la théâtralité du discours », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 185-190.
            </li>
            <li>
               <span class="smallcaps">Haroche-bouzinac</span> Geneviève, « Voltaire et Mme de Sévigné, un éloge en contrepoint », RHLF, « Images de Mme de Sévigné », mai-juin 1996, p. 394-403.
            </li>
            <li>
               <span class="smallcaps">Henry</span> Hélène, « Sur Mme de Sévigné et Corneille », Europe, n° 540-541, Paris, avril-mai 1974, p. 87-90.
            </li>
            <li>
               <span class="smallcaps">Himelfarb</span> Hélène, « Mme de Sévigné chez Saint-Simon : témoignage ou vision du XVIIIe siècle ? », Cahiers Saint-Simon, n° 32, 2004, p. 79-87.
            </li>
            <li>
               <span class="smallcaps">Horowitz</span> Louise K., 
               <i>Love and language. A study of the Classical French Moralist Writers</i>, Colombus, Ohio Sate University Press, 1977, chap. 5: « Mme de Sévigné », p. 91-111.
            </li>
            <li>
               <span class="smallcaps">Horowitz</span> Louise K., « The Correspondence of Mme de Sévigné. Letters or Belles-Lettres ? », French Forum, VI, 1, janv. 1981, p. 13-27.
            </li>
            <li>
               <span class="smallcaps">Huet</span> Jean-Yves, « Mme de Sévigné en Angleterre : Horace Walpole et Mme du Deffand », RHLF, « Images de Mme de Sévigné », mai-juin 1996, op. cit., p. 404-435.
            </li>
            <li>
               <span class="smallcaps">Huet</span> Jean-Yves, « Un drame au bord de la mer. L’aventure de Mme d’Alègre », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 265-276.
            </li>
            <li>
               <span class="smallcaps">Janet</span> Louis, 
               <i>Les Lettres de Mme de Grignan</i>, Paris, Lévy, 1895.
            </li>
            <li>
               <span class="smallcaps">Jensen</span> Katharine Ann, The Love Letter and the Woman Writer in Seventeenth-Century France : Questions of
               Genre and Identity, Ph. D., Columbia University, 1988 [Dissertation Abstracts International, A 49/11, mai 1989, p. 3377 A].
            </li>
            <li>
               <span class="smallcaps">Jensen</span> Katharine Ann, « Writing and Mother Love : The Letters of Mme de Sévigné », Feminism, French Literature Series, A.-M. Hardee et G.-H. Freeman (dir.). vol. XVI, 1989, p. 38-52.
            </li>
            <li>
               <span class="smallcaps">Killeen</span> Marie-Chantal, « Loin des yeux, près du coeur: Mme de Sévigné et le supplément de l’écriture », PFSCL, XXVIII, 54, 2001, p. 121-134.
            </li>
            <li>
               <span class="smallcaps">Kronegger</span> Marlies, « Les sourires de Mme de Sévigné et la Provence reflétée dans sa correspondance », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 149-160.
            </li>
            <li>
               <span class="smallcaps">Kulesza</span> Monika, « Le romanesque dans les lettres de Mme de Sévigné », Revue de l’AIRE, n° 25-26, 2000, p. 129-130. 
            </li>
            <li>
               <span class="smallcaps">Labat</span> Alvin, « Proust’s Mme de Sévigné », L’Esprit créateur, printemps-été 1975, vol. XV, n° 1-2, p. 271-285.
            </li>
            <li>
               <span class="smallcaps">Ladenson</span> Elisabeth, « The Law of the Mother : Proust and Mme de Sévigné », The Romanic Review, vol. 85, n° 1, janvier 1994, p. 91-112.
            </li>
            <li>
               <span class="smallcaps">Ladenson</span> Elisabeth, The Law of the letter : Proust and Mme de Sévigné, Ph. D., Columbia University, 1994 [Dissertation Abstracts International, A 55/06, décembre 1994, p. 1577].
            </li>
            <li>
               <span class="smallcaps">Lafond</span> Jean, « “Voilà qui est fait” : la mort de La Rochefoucauld dans la correspondance de Mme de
               Sévigné », dans W. Leiner et P. Ronzeaud (dir.), 
               <i>Correspondances. Mélanges offerts à Roger Duchêne</i>, Narr, Tübingen-Publications de l’Université de Provence, Aix-en-Provence, 1992, p. 417-425.
            </li>
            <li>
               <span class="smallcaps">Lamartine</span> Alphonse de, 
               <i>Œuvres complètes, publiées et inédites. Vies de quelques hommes illustres</i>, tome 3 (
               <i>Milton, Mme de Sévigné, Bossuet, Fénelon, Nelson</i>), Paris, chez l’auteur, 1863, p. 39-131.
            </li>
            <li>
               <span class="smallcaps">Landry</span> Bertrand, Le fils caché de la Correspondance : Charles de Sévigné, Ph. D., Boston University, 2005 [Dissertation Abstracts International, 1 66/03, septembre 2005, p. 1019].
            </li>
            <li>
               <span class="smallcaps">Landry</span> Jean-Pierre, « Mme de Sévigné et les prédicateurs », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 319-334.
            </li>
            <li>
               <span class="smallcaps">Landy-houillon</span> Isabelle, « Bussy-Rabutin et Mme de Sévigné, provinciaux malgré eux », Marseille, n° 101, 2e trimestre, 1975, p. 9-17.
            </li>
            <li>
               <span class="smallcaps">Landy-houillon</span> Isabelle, « Une expression féminine de l’amour au XVIIe siècle. L’exemple de Mme de Sévigné », L’Information littéraire, XXXIV, 1982, p. 194-197.
            </li>
            <li>
               <span class="smallcaps">Landy-houillon</span> Isabelle, « Mme de Sévigné : choix, mesure et démesure », dans 
               <i>Mélanges de langue et de littérature française offerts à Pierre Larthomas</i>, Paris, École Normale Supérieure de Jeunes Filles, 1985, p. 251-266.
            </li>
            <li>
               <span class="smallcaps">Landy-houillon</span> Isabelle, « Mme de Sévigné : « Dire en chantant » », dans 
               <i>Correspondances. Mélanges offerts à Roger Duchêne</i>, Narr, Tübingen-Publications de l’Université de Provence, Aix-en-Provence, 1992, p. 405-415.
            </li>
            <li>
               <span class="smallcaps">Landy-houillon</span> Isabelle, « L’hétérogénéité du langage dans quelques lettres de Mme de Sévigné », dans U. Michalowsky (dir.), 
               <i>Sur la plume des vents</i>. Mélanges de littérature épistolaire offerts à Bernard Bray, Paris, Klincksieck,
               1971, p. 109-119.
            </li>
            <li>
               <span class="smallcaps">Landy-houillon</span> Isabelle, « Mme de Sévigné et l’opéra », Europe, n° 801-802, « Mme de Sévigné », janvier-février 1996, p. 100-112.
            </li>
            <li>
               <span class="smallcaps">Landy-houillon</span> Isabelle, « L’ellipse : une figure chez Mme de Sévigné », Littératures classiques, n° 28, automne 1996, p. 285-294.
            </li>
            <li>
               <span class="smallcaps">Landy-houillon</span> Isabelle, « Les lettres de Mme de Graffigny entre Mme de Sévigné et Zilia : étude de style », dans G. Bérubé et M.-F. Silver (dir.), La lettre au XVIIIe siècle et ses avatars. Actes du Colloque International
               tenu au Collège universitaire Glendon, université York, Toronto (Ontario), Canada,
               29 avril-1er mai 1993, Toronto, Éditions du Gref, coll. « Dont actes », n° 14, 1996, p. 67-81.
            </li>
            <li>
               <span class="smallcaps">Landy-houillon</span> Isabelle, «  Réflexion et Art de plaire. Quelques modalités de fonctionnement dans les lettres
               de Mme de Sévigné », dans G. Haroche-Bouzinac (dir.), 
               <i>Lettre et réflexion morale. La lettre, miroir de l’âme</i>, Paris,  Klincksieck, coll. « Bibliothèque de l’âge classique », 1999, p. 25-37. 
            </li>
            <li>
               <span class="smallcaps">Lanson</span> Gustave, « La marquise de Sévigné », dans 
               <i>Choix de lettres du XVIIe siècle, publiées avec une introduction, des notices et des
                  notes
               </i>, Hachette, 6e éd., 1901, p. 479-530. 
            </li>
            <li>
               <span class="smallcaps">Lassalle</span> Thérèse, « Une grand-mère au XVIIe siècle, Mme de Sévigné », Littératures classiques, n° 14, « Enfance et littérature au XVIIe siècle », A. Mansau (dir.), 1991, p. 61-177.
            </li>
            <li>
               <span class="smallcaps">Lebigre</span> Arlette, « Mme de Sévigné chroniqueur judiciaire », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 287-293.
            </li>
            <li>
               <span class="smallcaps">Lebois</span> André, « Mme de Sévigné, sa passion, son bonheur et sa foi », Marseille, n° 95, 4e trimestre, 1973, p. 61-69.
            </li>
            <li>
               <span class="smallcaps">Leplâtre</span> Olivier, «  Les  lanterneries  de Mme de Sévigné », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 213-222.
            </li>
            <li>
               <span class="smallcaps">Léri</span> Jean-Marc, « Mme de Sévigné en ses hôtels parisiens », dans M. Long (dir.), 
               <i>La Galerie des femmes illustres au Grand Siècle</i>, Paris, Les Éditions de la Bouteille à la Mer, 2007, p. 79-92.
            </li>
            <li>
               <span class="smallcaps">Lévêque</span> Jean-Jacques, 
               <i>Mme de Sévigné, ou la saveur des mots</i>, Courbevoie, ACR, 1996.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « L’emploi des substantifs abstraits au pluriel dans les lettres de Mme de Sévigné à
               Mme de Grignan », dans C. Badiou-Monferran, F. Calas, J. Piat et C. Reggiani (dir.), La Langue, le style, le sens. Études offertes à Anne-Marie Garagnon, Paris,
               L’Improviste, coll. « Les aéronautes de l’esprit », 2005, p. 157-166.
            </li>
            <li>
               <span class="smallcaps">Magné</span> Bernard, « Humanisme et culture féminine au XVIIe siècle d’après les Lettres de Mme de Sévigné », Marseille, n° 95, 4e trimestre 1973, p. 37-42.
            </li>
            <li>
               <span class="smallcaps">Magrini</span> Céline, « Mme de Sévigné et le voyage sur le Rhône au XVIIe siècle », dans R. Duchêne et P. Ronzeaud (dir.), 
               <i>Autour de Mme de Sévigné</i>. Deux colloques pour un Tricentenaire : Rapports mère-fille au XVIIe siècle et de
               nos jours (Marseille 20-21 janvier 1996) ; Les voyages en France au XVIIe siècle (Aix-en-Provence
               27-28 octobre 1996), Paris-Seattle-Tübingen, PFSCL, coll. « Biblio 17 », 105, 1997, p. 257-272.
            </li>
            <li>
               <span class="smallcaps">Mallet-joris</span> Françoise, 
               <i>À propos de Mme de Sévigné, Liège</i>, Éditions Dynamo, coll. « Brimborions », 1971.
            </li>
            <li>
               <span class="smallcaps">Mayer</span> Denise, « Le portrait de Mme de Sévigné par Mme de La Fayette », XVIIe Siècle, n° 101, 4e trimestre 1973, p. 71-87.
            </li>
            <li>
               <span class="smallcaps">Mayer</span> Denise, 
               <i>Une Amitié parisienne au Grand Siècle : Mme de Lafayette et Mme de Sévigné</i>, Paris-Seattle-Tübingen, PFSCL, « Biblio 17 », 57, 1990.
            </li>
            <li>
               <span class="smallcaps">Melanҫon</span> Benoît, 
               <i>Sevigne@Internet. Remarques sur le courrier électronique et la lettre</i>, Montréal, Fides, 1996, et Montréal, Numeriklivres et Del Busso éditeur, 2011 (réédition numérique augmentée).
            </li>
            <li>
               <span class="smallcaps">Menscher</span> Gail Bussmeir, Problems of Time and Existence in the Letters of Mme de Sévigné, Ph. D; University of Iowa, 1977 [Dissertation Abstracts International, A 38/07, janvier 1978, p. 4200].
            </li>
            <li>
               <span class="smallcaps">Méron</span> Evelyne, « Les enfants aux yeux des adultes selon les lettres de Mme de Sévigné », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 295-306.
            </li>
            <li>
               <span class="smallcaps">Mertens</span> F.-A., « Mme de Sévigné et les hommes », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 307-318.
            </li>
            <li>
               <span class="smallcaps">Mesnard</span> Jean, « D’Hacqueville, familier du cardinal de Retz et de Mme de Sévigné », dans W. Leiner et P. Ronzeaud (dir.), 
               <i>Correspondances. Mélanges offerts à Roger Duchêne</i>, Narr, Tübingen-Publications de l’Université de Provence, Aix-en-Provence, 1992, p. 365-385.
            </li>
            <li>
               <span class="smallcaps">Molinié</span> Georges, « Le style de Mme de Sévigné est-il précieux ? », L’Information grammaticale, janvier 1983, n°16, p. 35-37.
            </li>
            <li>
               <span class="smallcaps">Montfort</span> Catherine Rose, « Quelques réflexions sur les fortunes de Mme de Sévigné », PFSCL, VIII, 15, 2, 1981, p. 153-162.
            </li>
            <li>
               <span class="smallcaps">Montfort howard</span> Catherine, 
               <i>Les Fortunes de Mme de Sévigné au XVIIe et au XVIIIe siècles</i>, Tübingen-Paris,Narr-Place, coll. « Études littéraires françaises », 1982.
            </li>
            <li>
               <span class="smallcaps">Montfort</span> Catherine Rose, « Voltaire et ses contemporains face à Mme de Sévigné : originalité ou conformisme de
               l’homme de goût ? », Marseille, n° 132-133, 1er semestre 1983, p. 44-49.
            </li>
            <li>
               <span class="smallcaps">Montfort</span> Catherine Rose, « Mme de Sévigné et Grouvelle : une admiration intempestive », dans W. Leiner et P. Ronzeaud (dir.), 
               <i>Correspondances. Mélanges offerts à Roger Duchêne</i>, Narr, Tübingen -Publications de l’Université de Provence, Aix-en-Provence, 1992, p. 447-453.
            </li>
            <li>
               <span class="smallcaps">Montfort</span> Catherine Rose, « Grouvelle, lecteur de Mme de Sévigné : la scandaleuse édition de 1806 », PFSCL, XIX, n° 37, 1992, p. 501-514. 
            </li>
            <li>
               <span class="smallcaps">Montfort</span> Catherine Rose, « Ordre et contestation chez Mme de Sévigné », dans R. Duchêne et P. Ronzeaud (dir.), Actes du 21e colloque du Centre Méridional de Rencontres sur le XVIIe siècle
               jumelé avec le 23e colloque de la North American Society for the Seventeenth-Century
               French Literature, Marseille, 19-23 juin 1991, Paris-Seattle-Tübingen, PFSCL, vol. II, 1992, p. 17-31.
            </li>
            <li>
               <span class="smallcaps">Montfort</span> Catherine Rose, « Sévigné et Bussy: une relation ambiguë », dans T. Noblat-Rérolle, J. Queneau et D.-H. Vincent (dir.), 
               <i>Bussy-Rabutin. L’homme et l’œuvre</i>, Dijon, Société des Amis de Bussy-Rabutin, 1995, p. 143-156.
            </li>
            <li>
               <span class="smallcaps">Montfort</span> Catherine Rose, « Mme de Sévigné, seventeenth-century feminist ? », French Studies, vol. L, 1996, p. 144-156.
            </li>
            <li>
               <span class="smallcaps">Morand</span> Patrick, Poétique des chroniques chez Mme de Sévigné, Mémoire de maîtrise, sous la dir. d’A. Viala, Paris III-Sorbonne Nouvelle, 2003. 
            </li>
            <li>
               <span class="smallcaps">Morel</span> Jacques, « Vive donc notre vieil ami Corneille (lettre du 16 mars 1672) », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p.161-163.
            </li>
            <li>
               <span class="smallcaps">Nicolich</span> Robert Nicolas, « Life as theatre in the Lettres of Mme de Sévigné », Romance Notes, XVI, 1974-1975, p. 376-382.
            </li>
            <li>
               <span class="smallcaps">Nicolich</span> Robert Nicolas, Mme de Sévigné and the Problem of Reality and Appearances, Ph. D. Michigan State University, 1965 [Dissertation Abstracts International, 26/08, février 1966, p. 4668].
            </li>
            <li>
               <span class="smallcaps">Niderst</span> Alain, « La Provence de Mme de Scudéry et de Mme de Sévigné », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 127-135.
            </li>
            <li>
               <span class="smallcaps">Nies</span> Fritz, Les Lettres de Madame de Sévigné. Conventions du genre et sociologie des publics [1972], trad. M. Creff, Paris, Champion, coll. « Lumière classique », 2001.
            </li>
            <li>
               <span class="smallcaps">Nies</span> Fritz, « Rheuma und sprachliche Kreativität. Zu den Sévigné-Briefen des Jahres 1676 », Archiv für das Studium der neueren Sprachen und Literaturen, 208, 1970-1971, p. 35-37.
            </li>
            <li>
               <span class="smallcaps">Nies</span> Fritz, « Quelques aspects lexicaux des Lettres de Mme de Sévigné », Marseille, n° 95, « Actes du Troisième Colloque de Marseille du CMR 17 », 4e trim. 1973, p. 15-22.
            </li>
            <li>
               <span class="smallcaps">Nies</span> Fritz, « Commentaire » de la communication de Patricia Weed (« Le bestiaire de Mme de Sévigné »), PFSCL, VIII, 15, 2, 1981, p. 109-116.
            </li>
            <li>
               <span class="smallcaps">Nies</span> Fritz,  « Déclin de l’éducation littéraire, critique inopérante ? », Europe, n° 801-802, « Mme de Sévigné », janvier-février 1996, p. 123-132.
            </li>
            <li>
               <span class="smallcaps">Nies</span> Fritz, « Sévigné et quelques autres : les épistolières des lexicographes », Romanistische Zeitschrift für Literaturgeschichte / Cahiers d’Histoire des Littératures
               romanes, 22, 3-4, 1998, p. 315-320.
            </li>
            <li>
               <span class="smallcaps">Nies</span> Fritz, « Roger Duchêne, un lecteur (pas ?) comme les autres », PFSCL, XXXI, 60, Seattle, 2004, p. 223-230. 
            </li>
            <li>
               <span class="smallcaps">Noblat-rerolle</span> Thérèse, « Le Rabutinage », Rabutinages, sans numéro, 1988, non paginé.  
            </li>
            <li>
               <span class="smallcaps">Olivares</span> Dolores, « Mme de Sévigné : critique dramatique ? », dans 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 165-176.
            </li>
            <li>
               <span class="smallcaps">Pallister</span> Janis L., « Saint François de Sales : A probable source for a letter of Mme de Sévigné », Romance Notes, XIX, 1, automne 1978, p. 55-57.
            </li>
            <li>
               <span class="smallcaps">Pasquini-butts</span> Marie-Pierre, Mme de Sévigné, Michel Tournier et la tentation cannibale : les figures parentales
               de l’incorporation filiale, Ph. D., Yale University, 1997 [Dissertation Abstracts International, A 58/05, novembre 1997, p. 1740].
            </li>
            <li>
               <span class="smallcaps">Patte</span> Jean-Yves et 
               <span class="smallcaps">Queneau</span> Jacqueline, 
               <i>Mémoire gourmande de Mme de Sévigné</i>, Paris, Éditions du Chêne-Hachette Livre, 1996.
            </li>
            <li>
               <span class="smallcaps">Patte</span> Jean-Yves et 
               <span class="smallcaps">Queneau</span> Jacqueline, 
               <i>L’Art de vivre au temps de Mme de Sévigné</i>, Paris, Nil, 1996.
            </li>
            <li>
               <span class="smallcaps">Pich</span> Edgar, 
               <i>Passion amoureuse et système épistolaire. Les débuts de la correspondance entre Madame
                  de Sévigné et sa fille
               </i>, Lyon, Aldrui, 1996.
            </li>
            <li>
               <span class="smallcaps">Pilastre</span> Édouard, 
               <i>Petit glossaire des lettres de Mme de Sévigné</i>, Fontainebleau, 1908 [Genève, Slatkine Reprints, 1971].
            </li>
            <li>
               <span class="smallcaps">Placella sommella</span> Paola, 
               <i>La Mode au XVIIe siècle d’après la Correspondance de Mme de Sévigné</i>, Paris-Seattle-Tübingen, PFSCL, « Biblio 17 », 14, 1984. 
            </li>
            <li>
               <span class="smallcaps">Placella sommella</span> Paola, « Voyage réel et voyage imaginaire dans les Lettres de Mme de Sévigné », PFSCL, vol. XIII, n° 24, 1986, p. 189-206.
            </li>
            <li>
               <span class="smallcaps">Placella sommella</span> Paola, « Rochers et muscats : la Provence dans l’imaginaire sévignéen », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 119-126.
            </li>
            <li>
               <span class="smallcaps">Placella sommella</span> Paola, « Mme de Sévigné en Italie », RHLF, « Images de Mme de Sévigné », mai-juin 1996, p. 436-445.
            </li>
            <li>
               <span class="smallcaps">Placella sommella</span> Paola, « Une femme de son temps », Europe, n° 801-802, « Mme de Sévigné », janvier-février 1996, p. 49-56.
            </li>
            <li>
               <span class="smallcaps">Placella sommella</span> Paola, « L’image du pouvoir dans les Lettres de Sévigné », dans G. Dotoli (dir.), 
               <i>Politique et littérature en France aux XVIe et XVIIe siècles</i>. Actes du Colloque international, Monopoli, 28 septembre-1er octobre 1995, Bari-Paris, Adriatica-Didier érudition, coll. « Quaderni del Seicento francese »,
               1997, p. 391-404.
            </li>
            <li>
               <span class="smallcaps">Plaisance</span> Daniel, « La Fortune des maximes au XVIIe siècle. L’exemple du “Cercle Sévigné” », Les Lettres romanes, XLIX, 1-2, 1995, p. 37-48.
            </li>
            <li>
               <span class="smallcaps">Plaisance</span> Daniel : « Un ami des Grignan en Provence : Jean Corbinelli », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 137-148.
            </li>
            <li>
               <span class="smallcaps">Potts</span> D.C., « Undercutting Racine ? Mme de Sévigné on La Calprenède », French Studies Bulletin, 59, Belfast, été 1996, p. 14-15.
            </li>
            <li>
               <span class="smallcaps">Pouliquen</span> Yves, 
               <i>Mme de Sévigné et la médecine du Grand Siècle</i>, Paris, Odile Jacob, 2006.
            </li>
            <li>
               <span class="smallcaps">Queneau</span> Jacqueline et 
               <span class="smallcaps">Patte</span> Jean-Yves, 
               <i>Mme de Sévigné ou l’art de vivre au XVIIe siècle</i>, Paris, NIL, 1996.
            </li>
            <li>
               <span class="smallcaps">Racevskis</span> Roland, « Time, Postal Practices and Daily Life in Mme de Sévigné’s letters », Studies in Early Modern France, n° 7, 2001, p. 29-47.
            </li>
            <li>
               <span class="smallcaps">Raffalli</span> Bernard, « Mme de Sévigné », dans J.-P. de Beaumarchais, D. Coutry et A. Rey (dir.), 
               <i>Dictionnaire des Littératures de langue française</i>, Paris, Bordas, 1984, p. 2170-2173.
            </li>
            <li>
               <span class="smallcaps">Raffalli</span> Bernard, « Proust et Mme de Sévigné », Bulletin de la Société des Amis de Marcel Proust et des Amis de Combray, n° 39, 1989, p. 105-112.
            </li>
            <li>
               <span class="smallcaps">Raffalli</span> Bernard, « La culture de Mme de Sévigné », Europe, n° 801-802, « Mme de Sévigné », janvier-février 1996, p. 69-79.
            </li>
            <li>
               <span class="smallcaps">Raffalli</span> Bernard, « Mme de Sévigné, le corps et la danse », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 205-212.
            </li>
            <li>
               <span class="smallcaps">Recker</span> Jo Ann Marie, « Appelle-moi Pierrot ». 
               <i>Wit and irony in the Letters of Mme de Sévigné</i>, Amsterdam-Philadelphia, John Benjamins, 1986.
            </li>
            <li>
               <span class="smallcaps">Recker</span> Jo Ann Marie, « Mme de Sévigné’s Portraits/Masks », PFSCL, XV, Tübingen, 1988, p. 245-253.
            </li>
            <li>
               <span class="smallcaps">Reguig-naya</span> Delphine, « Descartes à la lettre : poétique épistolaire et philosophie mondaine chez Mme de Sévigné »,  XVIIe siècle, juillet-septembre 2002, n° 216, p. 511-525.
            </li>
            <li>
               <span class="smallcaps">Sabard</span> Marie-Hélène, 
               <i>Mme de Sévigné vue par des écrivains de Bussy-Rabutin à Philippe Sollers</i>, Paris, L’École des lettres, 1996.
            </li>
            <li>
               <span class="smallcaps">Sato</span> Yoko, 
               <i>La Mort dans la Correspondance de Mme de Sévigné,</i> Villeneuve d’Asq, Presses Universitaires du Septentrion, 2000.
            </li>
            <li>
               <span class="smallcaps">Sbihi</span> Mounia, La Réussite sociale dans la Correspondance de Mme de Sévigné, thèse de doctorat, sous la dir. de P. Sellier, Université Paris IV, 1994.
            </li>
            <li>
               <span class="smallcaps">Sienkewicz</span> Anne Waterman, Two women of letters. Mme de Sévigné and Mme du Deffand, Ph. D., Johns Hopkins University, 1978 [Dissertation Abstracts International, A 39/02, août 1978, p. 913].
            </li>
            <li>
               <span class="smallcaps">Sollers</span> Philippe, « Le mystère Sévigné », « Préface » aux 
               <i>Lettres de Mme de Sévigné. Images d’un siècle</i>, Scala, 1992, p. 7-13.
            </li>
            <li>
               <span class="smallcaps">Sommer</span> Édouard, « Introduction grammaticale », dans 
               <i>Mme de Sévigné, Lettres de Mme de Sévigné, de sa famille et de ses amis</i>, M. Monmerqué (éd.), Paris, Hachette, coll. « Les Grands Écrivains de la France », 1866, tomes 13, p. XI-LXXXIV.
            </li>
            <li>
               <span class="smallcaps">Sommer</span> Édouard, « Lexique de la langue de Mme de Sévigné », dans 
               <i>Mme de Sévigné, Lettres de Mme de Sévigné, de sa famille et de ses amis</i>, M. Monmerqué (éd.), Paris, Hachette, coll. « Les Grands Écrivains de la France », 1866, tomes 13-14.
            </li>
            <li>
               <span class="smallcaps">Stanton</span> Domna C., « On female portraiture in Sévigné’s Lettres », PFSCL, VIII, 15, 2, 1981, p.89-94.
            </li>
            <li>
               <span class="smallcaps">Stéphane</span> Nelly, « Les ruses de la passion », Europe, n° 801-802, « Mme de Sévigné », janvier-février 1996, p. 40-48.
            </li>
            <li>
               <span class="smallcaps">Strosetzki</span> Christoph, « La nature et la campagne. Mme de Sévigné et la topique littéraire », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 345-359.
            </li>
            <li>
               <span class="smallcaps">Sweetser</span> Marie-Odile, « La lettre comme instance autobiographique : le cas de Mme de Sévigné », dans Autobiography in French Literature (French Literature Series, XII), Univ. of South Carolina, 1985, p. 32-40.
            </li>
            <li>
               <span class="smallcaps">Sweetser</span> Marie-Odile, « Mme de Sévigné, écrivain sans le savoir ? », Cahiers de l’Association internationale des études françaises, n° 39, mai 1987, p. 141-157.
            </li>
            <li>
               <span class="smallcaps">Sweetser</span> Marie-Odile, « Les registres du style », Europe, n° 801-802, « Mme de Sévigné », janvier-février 1996, p. 19-26.
            </li>
            <li>
               <span class="smallcaps">Sweetser</span> Marie-Odile, « Mme de Sévigné et Saint-Simon, artistes et aristocrates : deux procès sous l’Ancien
               Régime », Cahiers Saint-Simon, n° 9, 1981, p. 35-47.
            </li>
            <li>
               <span class="smallcaps">Sylvos</span> Françoise, « Ces bois sont d’une beauté et d’une tristesse extraordinaires. L’imaginaire mélancolique
               dans les Lettres de Mme de Sévigné », Revue de l’AIRE, n° 27, 2001, p. 27-36.
            </li>
            <li>
               <span class="smallcaps">Thirouin</span> Laurent, « La Marquise au jeu du Roi », dans R. Duchêne (dir.), 
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 249-264.
            </li>
            <li>
               <span class="smallcaps">Thommeret</span> Loïc Y., « Du greffe à la mise en scène : Mme de Sévigné et le procès de Fouquet », PFSCL, XXII, 1995, n° 43, p. 597-610.
            </li>
            <li>
               <span class="smallcaps">Truchet</span> Jacques, « Les indulgences de Mme de Sévigné », dans R. Duchêne (dir.),  
               <i>Mme de Sévigné (1626-1696). Provence, spectacles, « lanternes »</i>. Colloque international du Tricentenaire de la mort de Mme de Sévigné, Château de
               Grignan (29 mai-1er juin 1996), Grignan, Association d’Action Culturelle des Châteaux
               Départementaux de la Drôme, 1998, p. 241-247.
            </li>
            <li>
               <span class="smallcaps">Van der cruysse</span> Dirk, « Vraies et fausses conversions. Le témoignage de Mme de Sévigné et de Saint-Simon », dans L. Godard de Donville (dir.), 
               <i>La conversion au XVIIe siècle</i>. Actes du XIIe Colloque de Marseille, organisé par le Centre méridional de rencontres
               sur le XVIIe siècle (janvier 1982), Marseille, CMR 17, 1983, p. 359-373.
            </li>
            <li>
               <span class="smallcaps">Verdier</span> Gabrielle, « Les “Lucrèces” sortent du « grenier ». Portraits de femmes dans les « Lettres » de
               Mme de Sévigné », PFSCL, VIII, 15, 2, 1981, p. 71-87.
            </li>
            <li>
               <span class="smallcaps">Viala</span> Alain, « Un jeu d’images. Amateur, mondaine, écrivain ? », Europe, n° 801-802, « Mme de Sévigné », janvier-février 1996, p. 57-68.
            </li>
            <li>
               <span class="smallcaps">Vilcosqui</span> Marcel, « Une mélomane au XVIIe siècle : Mme de Sévigné (1626-1696) », Recherches sur la Musique française classique, XVII, 1977, p. 31-93.
            </li>
            <li>
               <span class="smallcaps">Weed</span> Patricia, « Le bestiaire de Mme de Sévigné », PFSCL, VIII, 15, 2, 1981, p. 95-107.
            </li>
            <li>
               <span class="smallcaps">Weed</span> Patricia, « Mme de Sévigné : les espaces de la solitude », French Studies, vol. 38, n° 3, 1984, p. 268-285.
            </li>
            <li>
               <span class="smallcaps">Wieser</span> Dagmar, « Proust et Mme de Sévigné », RHLF, janvier-février 2000, p. 91-106.
            </li>
            <li>
               <span class="smallcaps">Wintrebert</span> Marta, « Mme de Sévigné »,  La Cause freudienne. Revue de psychanalyse, n° 31, 1995, p. 29-38.
            </li>
            <li>
               <span class="smallcaps">Wolff</span> Larry, « Religious Devotion and Maternal Sentiment in Early Modern Lent : From the Letters
               of Mme de Sévigné to the Sermons of Père Bourdaloue », 
               <i>French Historical Studies</i>, automne 1993, p. 359-395.  
            </li>
            <li>
               <span class="smallcaps">Wolgang</span> Aurora, « “Notre vieille amie” : Mme de Sévigné dans la Correspondance de Mme de Graffigny et
               Devaux », dans J. Mallinson (dir.), 
               <i>Françoise de Graffigny, femme de lettre : écriture et réception</i>, Oxford, Voltaire Foundation, 2004, p. 109-117.
            </li>
            <li>
               <span class="smallcaps">Youssef</span> Zobeidah, « Mme de Sévigné et la musique », dans J. Foyard et G. Taverdet (dir.), 
               <i>Hommages à J.-P. Collinet</i>, Dijon, Éditions universitaires dijonnaises, 1992, p. 377-393.
            </li>
            <li>
               <span class="smallcaps">Youssef</span> Zobeidah, « Bois des Rochers, terrasses de Grignan. Deux décors privilégiés dans les lettres de
               Mme de Sévigné », XVIIe Siècle, n° 150, janvier-mars 1986, p. 19-33.
            </li>
            <li>
               <span class="smallcaps">Youssef</span> Zobeidah, « Lettre et promenade chez Mme de Sévigné en 1671 », Les Lettres romanes, t. XL, n° 2, mai 1986, p. 117-126.
            </li>
            <li>
               <span class="smallcaps">Youssef</span> Zobeidah, « Le spectacle de l’hiver dans la Correspondance de Mme de Sévigné », PFSCL, vol. XV, n° 29, 1988, p. 701-720.
            </li>
            <li>
               <span class="smallcaps">Zoberman</span> Pierre,  « Épistolarité et intertextualité : Mme de Sévigné et l’écriture de la lettre », XVIIe Siècle, n° 200, juillet-septembre 1998, p. 433-452.
            </li>
         </ol>
         
      </div>
   </div>
</div>{% endblock %}