{% extends "project.html.twig" %}{% block title %}Bibliographie autour de Madame De Sévigné - Bibliographie{% endblock %}

{% block tei_link %}./data/tei/HN_Sevigne_bibPrimaire.xml{% endblock %}

{% block content %}
<div class="container">
   <div class="row">
      <div id="main-container" class="col text-justify">
         
         <H2>Bibliographie primaire</H2>
         
         
         <H2>La correspondance de Bussy</H2>
         
         <ol class="bibl">
            <li>
               M
               Roger de Bussy-Rabutin,
               
               <i>LES / MEMOIRES / DE MESSIRE / ROGER DE RABUTIN / COMTE DE BUSSY, /
                  lieutenant general des armées du roy, / et mestre de camp general / de la cavalerie
                  legere
               </i>,
               Paris : Jean Anisson, M.DC.XCVI., 2 vols.
               
               
               
               
               
               <ul class="bib_note">
                  <li>contient 21 lettres de Madame de Sévigné, des années 1648 à 1657.</li>
               </ul>
            </li>
            <li>
               B1
               Roger de Bussy-Rabutin,
               
               <i>LES / LETTRES / DE MESSIRE / ROGER DE RABUTIN / COMTE DE BUSSY / lieute- nant general
                  des armées /
                  du roi, et mestre de camp ge- / neral de la cavalerie Françoi- / se et etrangere /
                  Nouvelle edition avec les Réponses
               </i>,
               Paris : Florentin et Pierre Delaulne, M.DC.XCVII., 4 vols. (1698 pour les voll. 3 et 4).
               
               
               
               
               
               <ul class="bib_note">
                  <li>Édition publiée par la marquise de Coligny et Bouhours.
                     Contient de 247 lettres de l’édition Monmerqué de 1862.
                  </li>
               </ul>
            </li>
            <li>
               B2
               Roger de Bussy-Rabutin,
               
               <i>NOUVELLES / LETTRES / DE MESSIRE / ROGER DE RABUTIN, / COMTE DE BUSSY; /
                  lieutenant general des armÉes / du roi, et mestre de camp / general de la cavalerie
                  / Françoise et etrangere / Avec les Réponses
               </i>,
               Paris : Florentin Delaulne, M.DCCIX., 3 vols.
               
               
               
               
               
               <ul class="bib_note">
                  <li>Complément à l’édition de 1697. Contient 12 lettres de l’édition Monmerqué de 1862.</li>
               </ul>
            </li>
            <li>
               S
               Roger de Bussy-Rabutin,
               
               <i>Supplément aux Mémoires et lettres de M. le comte de Bussy Rabutin, pour servir de
                  suite à toutes les éditions de ses ouvrages qui ont paru tant en France qu’aux pays
                  étrangers
               </i>,
               Au Monde [Dijon], 7539417 [1753 ?], 2 parties en 1 vol.
               
               
               
               
               <ul class="bib_note">
                  <li>Supplément sans aucun ordre de lettres et fragments nouveaux.
                     Contient 18 lettres de l’édition Monmerqué de 1862.
                  </li>
               </ul>
            </li>
            <li>
               Roger de Bussy-Rabutin,
               
               <i>Correspondance de Roger de Rabutin, comte de Bussy, avec sa famille et ses amis (1666-1693)</i>,
               Ludovic Lalanne, Paris : Charpentier, 1858-1859, 6 vols. in-12.
               
               
               
               
            </li>
         </ol>
         
         
         
         <H2>Les éditions subréptices</H2>
         
         <ol class="bibl">
            <li>
               E1
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRES / CHOISIES / DE MADAME LA MARQUISE / DE SEVIGNE / A MADAME / DE GRIGNAN /
                  SA FILLE / Qui contiennent beaucoup de par- / ticularitez de l’Histoire de Loüis /
                  XIV.
               </i>,
               [Troyes] M.D.C.C.X.X.V., 75 p., in-12.
               
               
               
               
               
               <ul class="bib_note">
                  <li>Première édition subreptice de 31 lettres ou fragments.</li>
               </ul>
            </li>
            <li>
               E2
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>ALETTRES / DE MARIE / RABUTIN-CHANTAL / MARQUISE DE SEVIGNE’, / A MADAME /
                  LA COMTESSE / DE GRIGNAN / SA FILLE
               </i>,
               [Rouen] MDCCXXVI, 2 vol. in-12 de 381 et 324 pages.
               
               
               
               
               
               <ul class="bib_note">
                  <li>Deuxième édition subreptice.
                     Le tome 1 contient 4 lettres à Emmanuel de Coulanges, puis 74 lettres à Mme de Grignan.
                     Le tome 2 contient 60 lettres à Mme de Grignan.
                  </li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRES / DE MARIE / RABUTIN-CHANTAL, / MARQUISE DE SEVIGNÉ, / A MA- DAME /
                  LA COMTESSE / DE GRIGNAN / SA FILLE
               </i>,
               [S.l.] MDCCXXVI, 2 vol. in-12 de 270 et 220 pages.
               
               
               
               
               
               <ul class="bib_note">
                  <li>Même contenu que l’édition de Rouen, avec une pagination différente.</li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>[titre inconnu]</i>,
               [S.l.] MDCCXXVI, 2 vol. in-12 de 264 et 228 pages.
               
               
               
               
               
               <ul class="bib_note">
                  <li>Même contenu que l’édition de Rouen, avec une pagination différente.
                     Il y a une lettre de moins dans le premier tome, une lettre de plus dans le second
                     tome.
                  </li>
               </ul>
            </li>
            <li>
               E2
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRES / DE MADAME / RABUTIN-CHANTAL, / MARQUISE /
                  DE SEVIGNÉ, / A Madame la Comtesse / DE GRIGNAN, / sa Fille
               </i>,
               La Haye : P. Gosse, J. Neaulme &amp; Comp., M. DCC. XVI., 2 vols. de 344 et 298 pages.
               
               
               
               
               
               <ul class="bib_note">
                  <li>Troisième édition subreptice. Elle contient 177 lettres.</li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRES / DE MARIE / RABUTIN-CHANTAL / MARQUISE DE SÉVIGNÉ; /
                  A MADAME / LA COMTESSE / DE GRIGNAN / SA FILLE.
               </i>,
               [s.l.] MDCCXXVIII, 3 vols. in-12 de 264, 144 et 252 pages.
               
               
               
               
               
               <ul class="bib_note">
                  <li>Réimpression de la troisième édition subreptice. avec quelques modifications.
                     D’après Monmerqué, cette édition utilise les mêmes caractères que la première contrefaçon
                     de l’édition de Rouen.
                  </li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>[titre inconnu]</i>,
               3 vols. in-12 de 264, 144 et 252 pages.
               
               
               
               
               
               <ul class="bib_note">
                  <li>Réimpression de l’édition de La Haye, ou plus précisément de sa réimpression de 1728.</li>
               </ul>
            </li>
         </ol>
         
         
         
         <H2>Les éditions Perrin</H2>
         
         <ol class="bibl">
            <li>
               P1
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>RECUEIL / DES LETTRES / DE / MADAME LA MARQUISE / DE SÉVIGNÉ, /
                  A / MA- DAME LA COMTESSE / DE GRIGNAN, SA FILLE
               </i>,
               Paris : Nicolas Simiart, M.DCC.XXXIV (tomes I-IV) et
               Paris : Rollin, M.DCC.XXXVII (tomes V-VI),
               6 vols. in-12.
               Denis-Marius Perrin
               
               
               
               
               
               
               <ul class="bib_note">
                  <li>Première édition Perrin, avec 402 lettres pour les quatre premiers volumes, 212 pour
                     les deux derniers.
                  </li>
                  <li>1738 chez Rollin (Paris) et 1739 chez les frères Verbeck (Leyde), 1754 chez Rollin
                     (Paris).
                  </li>
               </ul>
            </li>
            <li>
               
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>RECUEIL / DES LETTRES / DE / MADAME LA MARQUISE / DE SÉVIGNÉ / A /
                  MA- DAME LA COMTESSE / DE GRIGNAN, SA FILLE. / NOUVELLE EDITION
               </i>,
               Dresde : George Conrad. Walther, M DCC LIII, 6 vols. ; in-8.
               
               
               
               
               <ul class="bib_note">
                  <li>Contrefaçon de l’édition Perrin de 1734-1737.</li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>RECUEIL / DE / LETTRES CHOISIES, / POUR SERVIR DE SUITE /
                  Aux Lettres de Madame de sevigne’ / à Madame de grignan, sa Fille
               </i>,
               Paris : Rollin, M. DCC. LI, 1 vol. in-12.
               Denis-Marius Perrin
               
               
               
               
               
               
               <ul class="bib_note">
                  <li>Ce recueil contient 123 lettres, dont 25 de Mme de Sévigné, 3 de Mme de Grignan, 29
                     de M. de Coulanges, 50 de Mme de Coulanges, 14 de Mme de La Fayette, 1 du cardinal
                     de Retz et 1 de La Rochefoucauld.
                     Il en existe deux impressions (une signée Claude Simon, l’autre F.G. Simon) avec un
                     ordre différent mais un contenu identique.
                  </li>
                  <li>1775 par la Compagnie des libraires (Paris).</li>
               </ul>
            </li>
            <li>
               
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>RECUEIL / DE / LETTRES CHOISIES, / POUR SERVIR / DE SUITE AUX LETTRES /
                  DE MADAME / DE SÉVIGNÉ / A MADAME / DE GRIGNAN, SA FILLE. / NOUVELLE EDITION.
               </i>,
               Dresde : George Conrad. Walther, 1753, 391-[9] p. ; in-8.
               
               
               
               
               <ul class="bib_note">
                  <li>Contrefaçon du supplément de 1751 à l’édition Perrin de 1734/1737.</li>
               </ul>
            </li>
            <li>
               
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRES / NOUVELLES / DE /MADAME LA MARQUISE / DE SÉVIGNÉ / A /
                  MADAME LA COMTESSE / DE GRIGNAN, / SA FILLE: / Extraites de l’Edition de 1754, 8 vol.
                  /
                  in-12. pour servir de Supplément à / l’Edition de Paris en six volumes.
               </i>,
               Paris : Durand, M. DCC. LIV, 2 vol. in-12 (numérotés VII et VIII).
               Denis-Marius Perrin
               
               
               
               
               
               <ul class="bib_note">
                  <li>L’année 1754 voit la parution de la seconde édition Perrin, et d’une réimpression
                     de l’édition de 1734-1737.
                     Afin que cette dernière se vende, un complément en deux volumes reprenant les nouveautés
                     de l’édition de 1754 est publié.
                  </li>
               </ul>
            </li>
            <li>
               P2
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>RECUEIL / DES LETTRES / DE / MADAME LA MARQUISE / DE SÉVIGNÉ, /
                  A / MADAME LA COMTESSE / DE GRIGNAN, SA FILLE. / Nouvelle Edition augmentée.
               </i>,
               Paris : Rollin, M.DCC.LIV., 8 vol. ; portraits ; in-12.
               Denis-Marius Perrin
               
               
               
               
               
               
               
               
               <ul class="bib_note">
                  <li>Seconde édition Perrin, parue chez Rollin, mais aussi la même année chez Durand et
                     David (avec un titre et une pagination légèrement différents).
                     772 lettres (les inédites sont marquées d’un astérisque).
                     
                     
                     Tome
                     Contenu
                     Remarque
                     
                     
                     1
                     103 lettres
                     
                     
                     
                     2
                     109 lettres
                     
                     
                     
                     3
                     98 lettres
                     
                     
                     
                     4
                     99 lettres
                     une lettre oubliée a été placée en fin de volume.
                     
                     
                     5
                     95 lettres
                     
                     
                     
                     6
                     83 lettres
                     une lettre oubliée a été placée en fin de volume.
                     
                     
                     7
                     111 lettres
                     
                     
                     
                     8
                     74 lettres
                     
                     
                     
                     
                     
                  </li>
                  <li>1754 chez Desaint et Saillant (Paris).</li>
               </ul>
            </li>
         </ol>
         
         
         
         <H2>Enrichissement du corpus</H2>
         
         <ol class="bibl">
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRES / DE MADAME LA MARQUISE / DE SÉVIGNÉ / A MADAME LA COMTESSE /
                  DE GRIGNAN / SA FILLE.
               </i>,
               Amsterdam : la Compagnie, M. DCC. LVI.
               
               
               
               
               
               <ul class="bib_note">
                  <li>Première édition intégrant le supplément de 1751 à l’édition de 1754. Des dates sont
                     corrigées.
                  </li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>Lettres de Madame de S*** à monsieur de Pomponne</i>,
               Amsterdam, 1756.
               
               
               
               
               
               <ul class="bib_note">
                  <li>Correspondance avec Pomponne. 11 lettres relatives au procès Fouquet.</li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>Lettres nouvelles ou nouvellement recouvrées de la marquise de Sévigné et de la marquise
                  de Simiane,
                  sa petite-fille, pour servir de suite aux différentes éditions des lettres de la marquise
                  de Sévigné
               </i>,
               Paris : Lacombe, 1773, In-12, XII-393 p. et l’erratum.
               Lacombe (?)
               
               
               
               
               
               <ul class="bib_note">
                  <li>Première publication des lettres de Sévigné à Moulceau, et de Mme de Simiane à d’Héricourt.</li>
                  <li>1774 chez Lacombe (Paris) avec quelques variations et Dufour (Maastricht).</li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRES / DE / MADAME DE SÉVIGNÉ / A SA DILLE ET A SES AMIS; / NOUVELLE EDITION /
                  mise dans un meilleur ordre, enrichie d’Éclaircissemens et de / Notes historiques
                  ; augmentée de Lettres, Fragmens, Notices sur /
                  Madame de Sévigné et sur ses Amis, Éloges et autres morceaux / inédits ou peu connus,
                  tant en prose qu’en vers
               </i>,
               Paris : Bossange, Masson et Besson, 1806, 8 vols. in-8.
               Philippe Antoine Grouvelle
               
               
               
               
               
               
               <ul class="bib_note">
                  <li>Il s’agit de la première édition classant les lettres par date, et non par correspondant.
                     Contient une seule lettre inédite (à Charles de Sévigné, le 20/09/1695).
                  </li>
                  <li>1819 chez Bossange, Dabo, Tramblay, Féret, etc. (Paris) en 12 vols.,
                     avec un treizième volume (non-chiffré) contenant les lettres publiées par Klostermann
                     en 1814.
                  </li>
               </ul>
            </li>
            <li>
               LETTRES / INÉDITES / DE Mme. DE SÉVIGNÉ.,
               Paris : Klostermann fils, 1814, LXIV-286 p.
               Charles-Hubert Millevoye Claude-Xavier Girault
               
               <i></i>,
               
               
               
               
               
               
               <ul class="bib_note">
                  <li>Lettres tirées des collections des archives du château d'Époisses (36 lettres au comte,
                     31 à la comtesse)
                     et de la collecton de Germain Garnier (lettres à d'Hacqueville et surtout Mme de Grignan).
                  </li>
                  <li></li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRES / DE / MADAME DE SÉVIGNÉ, / DE SA FAMILLE, ET DE SES AMIS. /
                  avec portraits, vues, et Fac-simile.
               </i>,
               Paris : J. J. Blaise, 1818, 10 vol. : pl., portraits, fac-simil., armoiries ; in-8.
               Louis Monmerqué
               
               
               
               
               
               
               <ul class="bib_note">
                  <li>Première édition Monmerqué, avec commentaire.
                     100 lettres et 300 fragments inédits d'après l'éditeur.
                  </li>
                  <li>1820-1821 chez Blaise (Paris)</li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>MÉMOIRES / DE / M. D COULANGES / SUIVIS / DE LETTRES INÉDITES DE MADAME DE SÉVIGNÉ,
                  /
                  DE SON FILS, DE L’ABBÉ DE COULANGES, / D’ARNAULD-D’ANDILLY, D’ARNAULD DE POMPONNE,
                  /
                  DE JEAN DE LA FONTAINE, /Et d’autres personnages du même siècle.
               </i>,
               Paris : J.-J. Blaise, 1820, XII-507 p. ; in-8.
               Louis Monmerqué
               
               
               
               
               
               
               <ul class="bib_note">
                  <li>24 lettres de Mme de Sévigné : 2 à Ménage, 10 à Du Plessis, 9 à d’Herigoyen (1 de
                     Ch. de Sévigné au même),
                     1 à Revol, et 1 à Pomponne écite avec Mme de La Fayette.
                  </li>
                  <li>Même éditeur, même année (in-12).</li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRES / DE MADAME DE SÉVIGNÉ, / DE SA FAMILLE, ET DE SES AMIS ; /
                  ÉDITION ORNÉE DE VINGT-CINQ PORTRAITS DESSINÉS PAR DEVÉRIA, /
                  AUGMENTÉE DE PLUSIEURS LETTRES INÉDITES, / DES CENT CINQ LETTRES PUBLIÉES EN 1814,
                  PAR KLOSTERMANN, /
                  DES NOTES ET NOTICES DE GROUVELLE, / ET DES RÉFLÉXIONS DE L’ABBÉ DE VAUXELLES ; /
                  PRÉCÉDÉES /
                  D’UNE NOUVELLE NOTICE BIOGRAPHIQUE SUR MADAME DE SÉVIGNÉ, / ET ACCOMPAGNÉES DE NOTES
                  GÉOGRAPHIQUES, HISTORIQUES, /
                  POLITIQUES; CRITIQUES ET DE MOEURS, Par M. GAULT-DE-SAINT-GERMAIN.
               </i>,
               Paris : Dalibon, 1823.
               Philippe Antoine Grouvelle
               
               
               
               
               
               <ul class="bib_note">
                  <li>Première édition fondant dans la masse des lettres déjà connues celles publiées par
                     Millevoye en 1814.
                     Elle s’appuit très fortement sur l’édition Monmerqué.
                  </li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>Lettre écrite par Mme de Sévigné à Mme de Grignan, le 21 juin 1671,
                  rétablie pour la première fois d’après le manuscrit autographe
               </i>,
               Paris : J.-J. Blaise, 1826. IV-20 p. ; in-8.
               Louis Monmerqué
               
               
               
               
               
               <ul class="bib_note">
                  <li>Lettre du 21/06/1671, conservée à la Bibliothèque nationale d'Autriche.</li>
                  <li></li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRES / INÉDITES / DE MADAME DE SÉVIGNÉ, / DE SA FAMILLE ET DE SES AMIS. /
                  AVEC PORTRAITS, VUES ET FAC-SIMILE
               </i>,
               Paris : J.-J. Blaise, 1827. In-8° , XIV-78 p.
               Louis Monmerqué
               
               
               
               
               
               
               <ul class="bib_note">
                  <li> Forme le tome complémentaire de l'édition Monmerqué de 1818 réimprimée en 1820.
                     Contient vingt lettres ou fragments du manuscrit Grosbois, décrit pour la première
                     fois.
                  </li>
                  <li></li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>Lettre de Madame de Grignan au comte de Grignan, son mari</i>,
               Paris : imprimerie de Firmin-Didot frères, décembre 1832, 12 p. ; in-8.
               Louis Monmerqué
               
               
               
               
               
               <ul class="bib_note">
                  <li>Lettre du 05/01/1688. Tiré à cinquante exemplaires.
                     Le manuscrit est la propriété de L. Monmerqué au moment de la publication.
                  </li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>BLLET ITALIEN / DE / MADAME DE SÉVIGNÉ / A LA / MARQUISE d’UXELLES, /
                  SUIVI D’UNE LETTRE DE / MADAME DE GRIGNAN, / A LA MÊME ; PUBLIÉS POUR LA PREMIÈRE
                  FOIS
               </i>,
               Paris : F. Didot frères, 1844, In-16, 15 p.
               Louis Monmerqué
               
               
               
               
               
               <ul class="bib_note">
                  <li>Lettre de septembre 1953 (n °22 de l’édition Duchêne).</li>
               </ul>
            </li>
            <li>
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>DERNIÈRE PENSÉE / DE MADAME DE SÉVIGNÉ / POUR SA FILLE</i>,
               Paris : de l’imprimerie de Dondey-Dupré, 1846, 16 p. ; in-8.
               Louis Monmerqué
               
               
               
               
               
               <ul class="bib_note">
                  <li>Contient deux lettres du lieutenant civil Le Camus, l’une à Mme de Grignan,
                     l’autre au chevalier de Grignan, et un fragment d’une lettre du marquis de Sévigné
                     à Mme de Grignan.
                  </li>
               </ul>
            </li>
            <li>
               
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRE INÉDITE / DU MARQUIS DE SÉVIGNÉ / A LA / COMTESSE DE GRIGNAN, /
                  SA SOEUR, / sur les affaires de leur maison.
               </i>,
               Paris : imprimerie de Mme Ve Dondey-Dupré, 1847. 24 p. ; in-8.
               Louis Monmerqué
               
               
               
               
               
               
               <ul class="bib_note">
                  <li>Lettre datée des Rochers, du 27/09/1696. Dans la préface est insérée une lettre de
                     Fauris de Saint-Vincent,
                     descendant de Mme de Sévigné, et dans l’appendice une lettre de Martin de Noirlieu,
                     curé de Saint-Jacques du Haut-Pas où le marquis de Sévigné est enterré.
                  </li>
                  <li></li>
               </ul>
            </li>
            <li>
               
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>TABLETTES / DE VOYAGE / PAR Mme DE MONMERQUÉ / DEUXIÈME ÉDITION /
                  SUIVIES DE LETTRES DE MADAME DE SÉVIGNÉ, DE SA FAMILLE ET DE SES AMIS /
                  qui n’ont pas été réunies à sa correspondance.
               </i>,
               Paris : Ledoyen, 1851. 104 p. ; in-16.
               Marie-Caroline de Monmerqué
               
               
               
               
               
               
               <ul class="bib_note">
                  <li>Les Tablettes de voyage (qui racontent un voyage aux Rochers) paraissent dans le Journal des Dames
                     avant d’être publiées indépendamment (d’où « deuxième édition »). Elles contiennent
                     12 lettres, dont une inédite.
                  </li>
                  <li>Deuxième édition la même année.</li>
               </ul>
            </li>
            <li>
               GEF
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRES / DE / MADAME DE SÉVIGNÉ / DE SA FAMILLE ET DE SES AMIS / RECCUEILLIES ET
                  ANNOTÉS /
                  PAR M. MONMERQUÉ / MEMBRE DE L’INSTITUT / NOUVELLE ÉDITION / REVUE SUR LES AUTOGRAPHES,
                  LES COPIES LES PLUS AUTHENTIQUES /
                  ET LES PLUS ANCIENNES IMPRESSIONS / ET AUGMENTÉE / de lettres inédites, d’unenouvelle
                  notice, d’un lexique des mots /
                  et locution remarquables, de portratis, vues et fac-simile, etc.
               </i>,
               Paris : L. Hachette, 1862-1868. 14 vol. in-8° + Album in-4° , pl., portraits, fac-simil., armoiries en coul.
               Louis Monmerqué
               
               
               
               
               
               <ul class="bib_note">
                  <li>Edition s'appuyant sur le recueil Grosbois.
                     L. Monmerqué, mort en 1862, n'a pas pu terminer son édition: c'est Adolphe Regnier
                     qui s'en est chargé.
                  </li>
                  <li></li>
               </ul>
            </li>
            <li>
               
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRES INÉDITES / DE / MADAME DE SÉVIGNÉ / A / MADAME DE GRIGNAN / SA FILLE /
                  EXTRAITES D’UN ANCIEN MANUSCRIT / PUBLIÉES POUR LA PREMIÈRE FOIS, ANNOTÉES ET PRÉCÉDÉES
                  /
                  D’UNE INTRODUCTION / PAR / CHARLES CAPMAS / PRO- FESSEUR A LA FACULTÉ DE DROIT DE
                  DIJON
               </i>,
               Paris : Hachette, 1876, 2 vol. ; in-8.
               Charles Capmas
               
               
               
               
               
               <ul class="bib_note">
                  <li>Publication du manuscrit Capmas.</li>
               </ul>
            </li>
            <li>
               
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>LETTRES</i>,
               Paris, Gallimard 1953, 1955 et 1957, 3 vols, in-16.
               Émile Gérard-Gailly
               
               
               
               
               <ul class="bib_note">
                  <li>Première édition de la Pléiade.</li>
                  <li>1963</li>
               </ul>
            </li>
            <li>
               
               Marie de Rabutin-Chantal, marquise de Sévigné,
               
               <i>Correspondance</i>,
               [Paris] : Gallimard, 1972, 1974 et 1978, 3 vol. ; 18 cm
               
               
               
               
               <ul class="bib_note">
                  <li></li>
                  <li>Multiples réimpressions, avec parfois des changements: 
                     t.1 (1977, 1983, 1985, 1995, 2000, 2005, 2014), t. 2 (1980, 1986, 1996, 2005), t.
                     3 (1996, 2005)
                     Une note p. XIX du t. 1 indique des corrections importantes, mais une foule de petits
                     détails corrigée
                     à chaque imprression ne serait pas signalée.
                     
                  </li>
               </ul>
            </li>
         </ol>
         
         
         
      </div>
   </div>
</div>{% endblock %}