{% extends "project.html.twig" %}{% block title %}Bibliographie autour de Madame De Sévigné - Bibliographie{% endblock %}

{% block tei_link %}./data/tei/HN_Sevigne_bib_post2006.xml{% endblock %}

{% block content %}
<div class="container">
   <div class="row">
      <div id="main-container" class="col text-justify">
         
         <H2>Bibliographie secondaire</H2>
         
         <ol class="bibl">
            <li>
               <span class="smallcaps">Abiven</span> Karine, « “Si vous n’aimez ces traits-là, dites mieux”. Quelques outils pour l’analyse textuelle
               de l’anecdote chez Mme de Sévigné », L’Information grammaticale, n° 136, 2013, p. 3-6.
            </li>
            <li>
               <span class="smallcaps">Abiven</span> Karine, « L’exemplum : un modèle opératoire dans la lettre familière ? », Exercices de rhétorique [En ligne], 6 | 2016 : URL : http://journals.openedition.org/rhetorique/431.
            </li>
            <li>
               <span class="smallcaps">Barbillon</span> Chrystelle, « “Me voilà comme Don Quichotte”. Jeux et enjeux des modèles fictionnels romanesques
               et théâtraux », dans C. Lignereux (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, 2012, p. 135-146.
            </li>
            <li>
               <span class="smallcaps">Beaurain</span> David, « Les portraits de la marquise de Sévigné : l’image d’une femme illustre entre ressemblance
               et historicisme », dans 
               <i>Sévigné, épistolière du Grand Siècle. Catalogue de l’exposition du 25 mai au 22 octobre
                  2017 au château de Grignan
               </i>, Lyon, Libel, 2017, p. 100-111.
            </li>
            <li>
               <span class="smallcaps">Boissieras</span> Fabienne, « Regrets, reproches et sentiments de deuil », dans C. Lignereux (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, 2012, p. 189-200.
            </li>
            <li>
               <span class="smallcaps">Boissieras</span> Fabienne, « Dispositifs énonciatifs/dispositifs topographiques », dans 
               <i>Connivences épistolaires. Autour de Mme de Sévigné (Lettres de l’année 1671), actes
                  de la journée d’agrégation du 1er décembre 2012
               </i>, M. Bombart (dir.), Publications en ligne du GADGES, URL : http://facdeslettres.univ-lyon3.fr/recherche/gadges/publications/dispositifs-enonciatifs-dispositifs-topographiques-627701.kjsp.
            </li>
            <li>
               <span class="smallcaps">Bray</span> Bernard, 
               <i>Épistoliers de l’âge classique. L’art de la correspondance chez Mme de Sévigné et
                  quelques prédécesseurs, contemporains et héritiers
               </i>, Tübingen, Narr, coll. « Études littéraires françaises », 2007.
            </li>
            <li>
               <span class="smallcaps">Brouzet</span> David, « L’architecture et le décor intérieur des grandes demeures en Provence à l’époque de
               Mme de Sévigné ou l’histoire d’une révolution classique », 
               <span class="smallcaps">Trézin</span> Christian, « À Grignan, les domaines du Comte », dans 
               <i>Sévigné, épistolière du Grand Siècle. Catalogue de l’exposition du 25 mai au 22 octobre
                  2017 au château de Grignan
               </i>, Lyon, Libel, 2017, p. 66-77.
            </li>
            <li>
               <span class="smallcaps">Brunn</span> Alain, « “Il pleut ; nous sommes seuls” : le temps de la lettre », dans C. Lignereux (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, 2012, p.85-96.
            </li>
            <li>
               <span class="smallcaps">Cadot</span> Guillaume, « Mme de Sévigné lectrice des lettres de sa fille. Les stratégies affectives du discours
               méta-épistolaire », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 239-256.
            </li>
            <li>
               <span class="smallcaps">Cagnat-deboeuf</span> Constance, « “Tous chemins vont à Rome” : le jeu sur les proverbes », dans C. Lignereux (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, 2012, 159-173.
            </li>
            <li>
               <span class="smallcaps">Calas</span> Frédéric, « Étude du lexique », dans N. Freidel, Fr. Calas, C. Lignereux et J. Tamas, 
               <i>Mme de Sévigné. Lettres de l’année 1671</i>, Paris, Atlande, coll. « Clefs-Concours-Lettres », 2012, p. 209-228.
            </li>
            <li>
               <span class="smallcaps">Calas</span> Frédéric et GARAGNON Anne-Marie, « Mander : étude d’un lien obsessionnel entre Mme de Sévigné et Mme de Grignan », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 145-157.
            </li>
            <li>
               <span class="smallcaps">Calas</span> Frédéric, « Les mots pour se dire : étude de l’ethos discursif de Mme de Sévigné dans sa correspondance
               (année 1671) », dans 
               <i>Connivences épistolaires. Autour de Mme de Sévigné (Lettres de l’année 1671), actes
                  de la journée d’agrégation du 1er décembre 2012
               </i>, M. Bombart (dir.), Publications en ligne du GADGES, URL : http://facdeslettres.univ-lyon3.fr/recherche/gadges/publications/les-mots-pour-se-dire-etude-de-l-ethos-discursif-de-mme-de-sevigne-dans-sa-correspondance-annee-1671--627844.kjsp.
            </li>
            <li>
               <span class="smallcaps">Cartmill</span> Constance, « Les remèdes aux pensées noires », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 103-112.
            </li>
            <li>
               <span class="smallcaps">Charles</span> Lise, « Les grands romans de Mme de Sévigné », Exercices de rhétorique [En ligne], 6 | 2016 : URL : http://journals.openedition.org/rhetorique/433.
            </li>
            <li>
               <span class="smallcaps">Deguin</span> Yohann Dire l'événement dans les lettres de Mme de Sévigné et de Bussy-Rabutin, mémoire de maîtrise, sous la dir. A.-É. Spica, Université de Lorraine (Metz), mai 2014
            </li>
            <li>
               <span class="smallcaps">Deguin</span> Yohann Mme de Sévigné et Bussy-Rabutin : écriture familiale et force du sang, Papers on French Seventeenth Century Literature, vol. XLIII, N°85, Tübingen, Narr Verlag, 2016, p. 345-364.
            </li>
            <li>
               <span class="smallcaps">Depretto</span> Laure, La Disgrâce dans la Correspondance de Mme de Sévigné : politique et poétique, mémoire de Master 2, sous la dir. de M. Escola, Université Paris IV, 2007.
            </li>
            <li>
               <span class="smallcaps">Depretto</span> Laure, « La “Lettre à l’Ermite” ou le détail scandaleux », Fabula LHT, n° 3, « Complications de texte : les microlectures », M. Escola (dir.), septembre 2007, URL : http://www.fabula.org/lht/3/depretto.html.
            </li>
            <li>
               <span class="smallcaps">Depretto</span> Laure, « Annoncer l’incertain : les fausses nouvelles dans les Lettres de Mme de Sévigné », Littératures classiques, n° 71, 2010, p. 221-236.
            </li>
            <li>
               <span class="smallcaps">Depretto</span> Laure, « Autopsie d’un suicide : la mort de Vatel dans la Correspondance », dans C. Lignereux (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, 2012, p. 107-117.
            </li>
            <li>
               <span class="smallcaps">Depretto</span> Laure, « Frontières du récit épistolaire. Le cas Sévigné », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 161-175.
            </li>
            <li>
               <span class="smallcaps">Depretto</span> Laure, « Y a-t-il un “côté Dostoïevski” de Mme de Sévigné ? », Styles, genres, auteurs, n° 12, A. Gautier et S. Hériché-Pradeau (dir.), Paris, PUPS, 2012, p. 53-67.
            </li>
            <li>
               <span class="smallcaps">Depretto</span> Laure, « La correspondance de Sévigné ou le Secrétaire des nouvelles », Méthode !, n° 22, 2013, p. 67-74.
            </li>
            <li>
               <span class="smallcaps">Depretto</span> Laure, 
               <i>Informer et raconter dans la Correspondance de Mme de Sévigné</i>, Paris, Classiques Garnier, 2015.
            </li>
            <li>
               <span class="smallcaps">Depretto</span> Laure, « La correspondance comme feuilleton ? », Exercices de rhétorique [En ligne], 6 | 2016 : URL : http://journals.openedition.org/rhetorique/435.
            </li>
            <li>
               <span class="smallcaps">Depretto</span> Laure, « Scènes de comédie dans les Lettres de l’année 1671 », dans 
               <i>Séminaire Sévigné, Journée d’agrégation organisée par C. Poulouin à l’Université de
                  Rouen le 13 décembre 2012
               </i>, Publications numériques du CÉRÉdI, «Séminaires de recherche », n° 1, 2013 : URL: http://ceredi.labos.univ-rouen.fr/public/?scenes-de-comedie-dans-les-lettres.html.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Jacqueline, « Quatre ans et l’éternité… », dans 
               <i>Sévigné, épistolière du Grand Siècle. Catalogue de l’exposition du 25 mai au 22 octobre
                  2017 au château de Grignan
               </i>, Lyon, Libel, 2017, p. 36-43.
            </li>
            <li>
               <span class="smallcaps">Duchêne</span> Jacqueline, « Compte rendu d’enquête : la publication des lettres de Mme de Sévigné à Mme de Grignan », dans 
               <i>Sévigné, épistolière du Grand Siècle. Catalogue de l’exposition du 25 mai au 22 octobre
                  2017 au château de Grignan
               </i>, Lyon, Libel, 2017, p. 80-87.
            </li>
            <li>
               <span class="smallcaps">Fournier</span> Nathalie, « “Je ne pense qu’à vous, ma bonne, et je ne souhaite et n’imagine rien que par rapport
               à vous” : la comparaison qualitative chez Mme de Sévigné (Lettres de l’année 1671) », dans 
               <i>Connivences épistolaires. Autour de Mme de Sévigné (Lettres de l’année 1671), actes
                  de la journée d’agrégation du 1er décembre 2012
               </i>, M. Bombart (dir.), Publications en ligne du GADGES, URL : http://facdeslettres.univ-lyon3.fr/recherche/gadges/publications/formes-et-fonctions-de-la-comparaison-chez-madame-de-sevigne-lettres-de-l-annee-1671--627845.kjsp.
            </li>
            <li>
               <span class="smallcaps">Freidel</span> Nathalie, 
               <i>La Conquête de l’intime. Public et privé dans la Correspondance de Mme de Sévigné</i>, Paris, Champion, coll. « Lumière classique », 2009.
            </li>
            <li>
               <span class="smallcaps">Freidel</span> Nathalie, « Pratique citationnelle et écriture de l’intime dans la Correspondance de Mme de Sévigné », dans C. Lignereux et J. Piat (dir.), 
               <i>Une Langue à soi.Propositions</i>, Pessac, Presses Universitaires de Bordeaux, 2009, p. 57-72.
            </li>
            <li>
               <span class="smallcaps">Freidel</span> Nathalie, « Une petite dévote qui ne vaut guère. Humour et dévotion chez Mme de Sévigné », dans O. Leplatre (dir.), 
               <i>L’esprit des lettres. Mélanges offerts à Jean-Pierre Landry</i>, Lyon, Université Jean Moulin-Lyon 3, « Cahiers du Gadges », 2010, p. 300-318.
            </li>
            <li>
               <span class="smallcaps">Freidel</span> Nathalie, « Préface », dans Mme de Sévigné, Lettres de l’année 1671, éd. Roger Duchêne, Paris, Gallimard, « Folio Classique », 2012, p. 7-34.
            </li>
            <li>
               <span class="smallcaps">Freidel</span> Nathalie, « Repères » et « Problématiques », dans N. Freidel, Fr. Calas, C. Lignereux et J. Tamas, 
               <i>Mme de Sévigné. Lettres de l’année 1671</i>, Paris, Atlande, coll. « Clefs-Concours-Lettres », 2012, p. 25-203.
            </li>
            <li>
               <span class="smallcaps">Freidel</span> Nathalie, « Le rire de la marquise : folies, lanternes et turlupinades », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 113-128.
            </li>
            <li>
               <span class="smallcaps">Freidel</span> Nathalie, « Est-il possible, ma chère fille, que j’écrive bien ? Présence et absence de la rhétorique
               dans la correspondance de Mme de Sévigné », dans Cl. La Charité et R. Roy (dir.), 
               <i>Femmes, rhétorique et éloquence sous l’Ancien Régime</i>, Publications de l’université de Saint-Etienne, coll. « L’École du genre », 2012, p. 217-228.
            </li>
            <li>
               <span class="smallcaps">Freidel</span> Nathalie, « L’autre langue de Mme de Sévigné : l’italien dans la Correspondance », Studi Francesi, 2012, p. 405-414.
            </li>
            <li>
               <span class="smallcaps">Freidel</span> Nathalie, « Le paradigme économique chez Mme de Sévigné », dans 
               <i>Connivences épistolaires. Autour de Mme de Sévigné (Lettres de l’année 1671), actes
                  de la journée d’agrégation du 1er décembre 2012
               </i>, M. Bombart (dir.), Publications en ligne du GADGES, URL : http://facdeslettres.univ-lyon3.fr/recherche/gadges/publications/des-chiffres-et-des-lettres-le-paradigme-economique-dans-les-lettres-de-l-annee-1671-627698.kjsp.
            </li>
            <li>
               <span class="smallcaps">Freidel</span> Nathalie, « Connivences épistolaires : le commerce triangulaire des Sévigné », dans A. Bayle, M. Bombart et I. Garnier (dir.), 
               <i>L’âge de la connivence : lire entre les mots à l’époque moderne</i>, Lyon, Université Jean Moulin-Lyon 3, « Cahiers du Gadges », 2015, p. 111-126.
            </li>
            <li>
               <span class="smallcaps">Freidel</span> Nathalie, « Préface », dans 
               <i>Mme de Sévigné, Lettres choisies</i>, éd. N. Freidel, Paris, Gallimard, « Folio Classique », 2016, p. 7-32.
            </li>
            <li>
               <span class="smallcaps">Garagnon</span> Anne-Marie, « Étude stylistique d’un fragment de la lettre du 7 juin 1671 », dans C. Lignereux (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, 2012, p. 201-218.
            </li>
            <li>
               <span class="smallcaps">Garroté</span> Nicolas, « Liber, gaster, clyster : la littérature à l’estomac chez Mme de Sévigné et Montesquieu », https://romancesphere.fas.harvard.edu/publications/liber-gaster-clyster-la-litterature-l%E2%80%99estomac-chez-mme-de-sevigne-et.
            </li>
            <li>
               <span class="smallcaps">Garroté</span> Nicolas, « Le bestiaire littéraire de Mme de Sévigné », Coleçao Hespérides Literatura, 36, « Figura do animal. Literatura Cinema Banda Desenhada », C. Alvares, A.-L. Curado, I.-C. Mateus et S. Guimaroes de Sousa (dir.), Centro de Estudos Humanisticos da Universidade do Minho/Ribeirao, Ediçoes
               Humus, 2017, p. 251-264.
            </li>
            <li>
               <span class="smallcaps">Gasquet</span> Julie de, « Le festival de la correspondance de Grignan, un enfant de chimère », dans 
               <i>Sévigné, épistolière du Grand Siècle. Catalogue de l’exposition du 25 mai au 22 octobre
                  2017 au château de Grignan
               </i>, Lyon, Libel, 2017, p. 124-126.
            </li>
            <li>
               <span class="smallcaps">Gautier</span> Stéphane, « Du “pays de son mari” à la “maîtresse des lieux”, le château des Rochers, la Bretagne,
               les Bretons et la marquise de Mme de Sévigné », dans 
               <i>Sévigné, épistolière du Grand Siècle. Catalogue de l’exposition du 25 mai au 22 octobre
                  2017 au château de Grignan
               </i>, Lyon, Libel, 2017, p. 26-33.
            </li>
            <li>
               <span class="smallcaps">Gruffat</span> Sabine, « La lettre de provision ou comment “manipuler l’absence” », dans C. Lignereux (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, 2012, p. 97-106.
            </li>
            <li>
               <span class="smallcaps">Guttierez-laffond</span> Aurore, « Mme de Sévigné, une “jolie païenne” ? Remarques sur la dévotion de Mme de Sévigné », Méthode !, n° 22, 2013, p. 75-92.
            </li>
            <li>
               <span class="smallcaps">Landry</span> Bertrand, « Les appétits de Mme de Sévigné », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 129-143.
            </li>
            <li>
               <span class="smallcaps">Landy-houillon</span> Isabelle, « Nature et couleurs chez Mme de Sévigné », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 195-211.
            </li>
            <li>
               <span class="smallcaps">Laurent</span> Nicolas, « Le nom propre dans les Lettres de l’année 1671 de Mme de Sévigné », dans 
               <i>Séminaire Sévigné, Journée d’agrégation organisée par C. Poulouin à l’Université de
                  Rouen le 13 décembre 2012
               </i>, Publications numériques du CÉRÉdI, «Séminaires de recherche », n° 1, 2013 : URL: http://ceredi.labos.univ-rouen.fr/public/?le-nom-propre-dans-les-lettres-de.html.
            </li>
            <li>
               <span class="smallcaps">Lecompte</span> Barbara, L’Encrier de Mme de Sévigné, Paris, Arléa, 2017.
            </li>
            <li>
               <span class="smallcaps">Leplatre</span> Olivier, « Écrire de provision. Le commerce épistolaire de Mme de Sévigné », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 257-275.
            </li>
            <li>
               <span class="smallcaps">Leplatre</span> Olivier, « “Je ne vous ai épargné aucun détail” », dans 
               <i>Connivences épistolaires. Autour de Mme de Sévigné (Lettres de l’année 1671), actes
                  de la journée d’agrégation du 1er décembre 2012
               </i>, M. Bombart (dir.), Publications en ligne du GADGES, URL : http://facdeslettres.univ-lyon3.fr/recherche/gadges/publications/je-ne-vous-ai-epargne-aucun-detail--627675.kjsp 
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, 
               <i>À l’origine du savoir-faire épistolaire de Mme de Sévigné. Les lettres de l’année
                  1671
               </i>, Paris, PUF-CNED, coll. « Lettres », série « XVIIe siècle français », 2012. 
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, coll. « Correspondances et mémoires », 2012 (introduction « Défis, modèles et stratégies de l’expérimentation épistolaire », p. 7-25).
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, 2012 (introduction « Méthodes, enjeux et horizons de lecture du texte épistolaire », p. 7-16).
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile (dir.), « Rhétorique et épistolaire : le cas de Mme de Sévigné », Exercices de rhétorique [En ligne], 6 | 2016.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile,  « L’inscription des larmes dans les lettres de Mme de Sévigné : tentations élégiaques
               et art de plaire épistolaire », Littératures classiques, n° 62, « Le Langage des larmes aux siècles classiques », A. Cron et C. Lignereux (dir.), été 2007, p. 79-91.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Imaginaire augustinien et tendresse maternelle dans les lettres de Mme de Sévigné », dans D. Lopez, Ch. Mazouer et É. Suire (dir.), 
               <i>La Religion des élites au XVIIe siècle</i>, Tübingen, Gunter Narr, « Biblio 17 », 2008, p. 257-271.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Scénographies mondaines et réglages polyphoniques dans les lettres de Mme de Sévigné :
               l’exemple des compliments », dans C. Lignereux et J. Piat (dir.), 
               <i>Une langue à soi. Propositions</i>, Pessac, Presses Universitaires de Bordeaux, coll. « Stylistique et Poétique », 2009, p. 139-158.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Les plaisirs de la tendresse dans les lettres de Mme de Sévigné à sa fille », dans N. Dion, E. Ouellet et M. Plante (dir.), 
               <i>Plaisirs sous l’Ancien Régime</i>, Québec, Presses de l’Université Laval, « Cahiers du C.I.E.R.L. », 2009, p. 89-106.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Défense et illustration des valeurs de Tendre dans les lettres de Mme de Sévigné », Cahiers de narratologie, n° 10, « Valeurs et correspondance », A. Tassel (dir.), 2010, p. 13-32.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Du fonctionnement pragmatique des phénomènes d’emphase en situation épistolaire :
               l’exemple de Mme de Sévigné », dans M. Levesque et O. Pedeflous (dir.), 
               <i>L’Emphase : copia ou brevitas ? (XVI-XVIIe siècles)</i>, Paris, PUPS., coll. « Bibliothèque des styles », 2010, p. 129-143.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « La déformalisation du dialogue épistolaire dans les lettres de Mme de Sévigné », Littératures classiques, n° 71, « L’épistolaire au XVIIe siècle », G. Ferreyrolles (dir.). printemps 2010, p. 113-128.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Les caprices syntaxiques de Mme de Sévigné : une épistolière sourde aux prescriptions ? », dans S. Branca-Rosoff, J.-M. Fournier, Y. Grishpun et A. Régent-Susini (dir.), 
               <i>Langue commune et changements de normes</i>, Paris, Champion, coll. « Linguistique historique », 2011, p. 321-332.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Les mots de l’idolâtrie dans les lettres de Mme de Sévigné », dans M. Daumas (dir.), 
               <i>Amour divin, amour mondain dans les écrits du for privé de la fin du Moyen-Âge à 1914</i>, Pau, Cairn, 2011, p. 203-219.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Vers une typologie des anecdotes galantes de Mme de Sévigné », Littératures classiques, n° 78, « Écritures de l’actualité [XVIe-XVIIIe siècles] », K. Abiven et L. Depretto (dir.), 2012, p. 97-109.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Pour une approche argumentative des binômes synonymiques dans les lettres de Mme de
               Sévigné », dans Fr. Berlan et G. Berthomieu (dir.), 
               <i>La Synonymie</i>, Paris, PUPS, 2012, p. 415-424.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Qu’est-ce qu’un fait de genre syntaxique ? Enjeux et fondements d’une catégorie descriptive
               à partir des lettres de Mme de Sévigné », 
               <i>Actes du  3ème Congrès Mondial de Linguistique Française (Lyon, 4-7 juillet 2012)</i>,  http://www.shs-conferences.org/index.php?option=com_article&amp;access=standard&amp;Itemid=129&amp;url=/articles/shsconf/pdf/2012/01/shsconf_cmlf12_000225.pdf
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Les modulations des aveux de tendresse dans les lettres de 1671 à Mme de Grignan », Styles, genres, auteurs, n° 12, A. Gautier et S. Hériché-Pradeau (dir.), Paris, PUPS, 2012, p. 53-67.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « À la recherche du style syntaxique de Mme de Sévigné », dans N. Freidel, Fr. Calas, C. Lignereux et J. Tamas, 
               <i>Mme de Sévigné. Lettres de l’année 1671</i>, Paris, Atlande, coll. « Clefs-Concours-Lettres », 2012, p. 229-253.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Le conseil, un acte de langage contraire aux bienséances ? », dans I. Garnier et O. Leplatre (dir.), « Impertinence générique et genres de l’impertinence (XVI-XVIIIe siècles) »,
               Cahiers du GADGES, n° 10, Genève, Droz, 2012, p. 451-460. 
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Les offres de service à Mme de Grignan. Enquête sur l’acclimatation familière de préconstruits
               rhétoriques », dans C. Lignereux (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, coll. « Didact Français », 2012, p. 67-81.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Le plaisir d’écrire au service du stéréotypage éthique de Mme de Sévigné », Méthode !, n° 22, 2013, p. 93-101.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Le proverbe, faute de goût ? », dans C. Barbafieri et J.-Chr. Abramovici (dir.), 
               <i>L’Invention du mauvais goût à l’âge classique (XVIIe-XVIIIe siècle)</i>, Louvain-Paris, Peeters, coll. « La République des lettres », 2013, p. 255-269.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « La douceur comme stratégie de conciliation épistolaire », dans S. Cornic et P. Servet (dir.), « L’art de la conciliation », Cahiers du GADGES, n° 11, Genève, Droz, 2013, p. 173-188. 
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « L’écriture épistolaire comme travail de la langue pragmatiquement motivé », dans Cl. Badiou-Monferran (dir.), 
               <i>La Littérarité des belles-lettres. Un défi pour les sciences du texte ?</i>, Classiques Garnier, 2013, p. 83-92. 
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Du fait de langue à l’effet de style : les zeugmes syntaxiques de Mme de Sévigné », dans L. Himy-Piéri, J.-Fr. Castille et L. Bougault (dir.), 
               <i>Le Style, découpeur de réel</i>, Rennes, PUR, coll. « Interférences », 2014, p. 139-150.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Du fait de langue à l’effet de style : les zeugmes syntaxiques de Mme de Sévigné 
               « Les supplications maternelles à l’épreuve des convenances épistolaires », dans L. Albert, P. Bruley et A.-S. Dufief (dir.), 
               <i>La supplication. Discours et représentation</i>, Rennes, PUR, coll. « Interférences », 2014, p. 29-39. 
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « L’exagération de la faute : une technique propre à la lettre de remontrance », Exercices de rhétorique [En ligne], n° 4, « Sur l’amplification », St. Macé (dir.), 2014, p. 2-15, URL : http://rhetorique.revues.org/349 
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « La rhétoricité conditionnelle des lettres de Mme de Sévigné », Exercices de rhétorique [En ligne], 6 | 2016, URL : http://rhetorique.revues.org/428.
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Une routine de la civilité épistolaire : l’expression de la condoléance », Exercices de rhétorique [En ligne], 6 | 2016, URL : http://rhetorique.revues.org/437. 
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « D’un sous-genre épistolaire à sa mise en œuvre en contexte familier : l’exhortation », dans É. Gavoille et Fr. Guillaumont (dir.), 
               <i>Conseiller, diriger par lettre</i>, Tours, Presses universitaires François-Rabelais, coll. « Perspectives littéraires »,
               2017, p. 537-552. 
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Les rituels épistolaires de l’amitié », dans 
               <i>Sévigné, épistolière du Grand Siècle. Catalogue de l’exposition du 25 mai au 22 octobre
                  2017 au château de Grignan
               </i>, Lyon, Libel, 2017, p. 112-122. 
            </li>
            <li>
               <span class="smallcaps">Lignereux</span> Cécile, « Des prototypes rhétoriques à leur fragmentation épistolaire : l’exemple d’une consolation
               en pièces détachées », Exercices de rhétorique [En ligne], 9 | 2017, URL : http://rhetorique.revues.org/529 
            </li>
            <li>
               <span class="smallcaps">Longino</span> Michèle, « Le moment de la séparation », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 29-44.
            </li>
            <li>
               <span class="smallcaps">Macé</span> Stéphane, « “Voilà bien des lanternes, ma pauvre bonne”. Quelques remarques sur l’emploi des présentatifs
               voici-voilà », dans C. Lignereux (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, 2012, p. 177-188.
            </li>
            <li>
               <span class="smallcaps">Meniel</span> Bruno, « Mme de Sévigné et la rhétorique du naturel », Exercices de rhétorique [En ligne], 6 | 2016, URL : http://journals.openedition.org/rhetorique/429.
            </li>
            <li>
               <span class="smallcaps">Merlin-kajman</span> Hélène, « Le partage du sensible dans les Lettres de Madame de Sévigné », dans 
               <i>Connivences épistolaires. Autour de Mme de Sévigné (Lettres de l’année 1671), actes
                  de la journée d’agrégation du 1er décembre 2012
               </i>, M. Bombart (dir.), Publications en ligne du GADGES, URL : http://facdeslettres.univ-lyon3.fr/le-partage-du-sensible-dans-les-lettres-de-l-annee-1671-de-la-correspondance-de-mme-de-sevigne-712858.kjsp.
            </li>
            <li>
               <span class="smallcaps">Metz</span> Maïté, « Mme de Sévigné : une parisienne à la mode », 
               <i>Sévigné, épistolière du Grand Siècle. Catalogue de l’exposition du 25 mai au 22 octobre
                  2017 au château de Grignan
               </i>, Lyon, Libel, 2017, p. 12-25.
            </li>
            <li>
               <span class="smallcaps">Mongenot</span> Christine, « Mme de Maintenon épistolière : une Sévigné en négatif ? », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 213-235.
            </li>
            <li>
               <span class="smallcaps">Noille</span> Christine, « Les lettres de Mme de Sévigné sont-elles informes ? Éléments pour une rhétorique de
               la disposition », dans C. Lignereux (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, 2012, p. 19-48.
            </li>
            <li>
               <span class="smallcaps">Noille</span> Christine, « Brève notice d’histoire littéraire : la question de la rhétoricité sévignéenne », Exercices de rhétorique [En ligne], 6 | 2016 : URL : http://journals.openedition.org/rhetorique/442. 
            </li>
            <li>
               <span class="smallcaps">Orwat</span> Florence, « Une rêveuse enjouée : Mme de Sévigné », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 83-100.
            </li>
            <li>
               <span class="smallcaps">Pagani-naudet</span> Cendrine, « Comment lire la lettre de la prairie ? », dans C. Lignereux (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, 2012, p. 119-132.
            </li>
            <li>
               <span class="smallcaps">Poulouin</span> Claudine, « Le neuvième mois de Mme de Grignan. (Étude littéraire des huit Lettres de novembre 1671) », dans 
               <i>Séminaire Sévigné, Journée d’agrégation organisée par C. Poulouin à l’Université de
                  Rouen le 13 décembre 2012
               </i>, Publications numériques du CÉRÉdI, «Séminaires de recherche », n° 1, 2013 : URL: http://ceredi.labos.univ-rouen.fr/public/?le-9e-mois-de-mme-de-grignan-etude.html.
            </li>
            <li>
               <span class="smallcaps">Queneau</span> Jacqueline, « L’art de vivre au temps de Mme de Sévigné », dans 
               <i>Sévigné, épistolière du Grand Siècle. Catalogue de l’exposition du 25 mai au 22 octobre
                  2017 au château de Grignan
               </i>, Lyon, Libel, 2017, p. 56-65.
            </li>
            <li>
               <span class="smallcaps">Reguig</span> Delphine, « “Vous êtes encore toute vive partout”. Images et présence dans les lettres à Mme de
               Grignan », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 277-295.
            </li>
            <li>
               <span class="smallcaps">Richard-pauchet</span> Odile, « Richesse créative et écriture de soi », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 59-82.
            </li>
            <li>
               <span class="smallcaps">Ricord</span> Marine, « Les réflexions de Mme de Sévigné », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 177-193.
            </li>
            <li>
               <span class="smallcaps">Rosellini</span> Michèle, « “Un si bon miroir des faiblesses de notre cœur” : lecture et expérience de soi dans
               les Lettres de l’année 1671 », dans 
               <i>Séminaire Sévigné, Journée d’agrégation organisée par C. Poulouin à l’Université de
                  Rouen le 13 décembre 2012
               </i>, Publications numériques du CÉRÉdI, « Séminaires de recherche », n° 1, 2013 : URL : http://ceredi.labos.univ-rouen.fr/public/?un-si-bon-miroir-des-faiblesses-de.html.
            </li>
            <li>
               <span class="smallcaps">Rosellini</span> Michèle, « “Je suis bien loin d'abonder dans mon sens” : lecture et expérience de soi dans les
               Lettres de l'année 1671 », dans 
               <i>Connivences épistolaires. Autour de Mme de Sévigné (Lettres de l’année 1671), actes
                  de la journée d’agrégation du 1er décembre 2012
               </i>, M. Bombart (dir.), Publications en ligne du GADGES, URL : http://facdeslettres.univ-lyon3.fr/recherche/gadges/publications/un-si-bon-miroir-des-faiblesses-de-notre-coeur-lecture-et-experience-de-soi-dans-les-lettres-de-l-annee-1671-625265.kjsp?RH=1206110864985
            </li>
            <li>
               <span class="smallcaps">Tamas</span> Jennifer, « Pistes pour l’analyse stylistique », dans N. Freidel, Fr. Calas, C. Lignereux et J. Tamas, 
               <i>Mme de Sévigné. Lettres de l’année 1671</i>, Paris, Atlande, coll. « Clefs-Concours-Lettres », 2012, p. 255-274.
            </li>
            <li>
               <span class="smallcaps">Tardy</span> Cécile, « La dette de Madame de Sévigné envers Voiture dans les Lettres de 1671. Une filiation
               galante », dans 
               <i>Séminaire Sévigné, Journée d’agrégation organisée par C. Poulouin à l’Université de
                  Rouen le 13 décembre 2012
               </i>, Publications numériques du CÉRÉdI, « Séminaires de recherche », n° 1, 2013 : URL: http://ceredi.labos.univ-rouen.fr/public/?la-dette-de-madame-de-sevigne.html.
            </li>
            <li>
               <span class="smallcaps">Trézin</span> Christian, « À Grignan, les domaines du Comte », dans 
               <i>Sévigné, épistolière du Grand Siècle. Catalogue de l’exposition du 25 mai au 22 octobre
                  2017 au château de Grignan
               </i>, Lyon, Libel, 2017, p. 44-49.
            </li>
            <li>
               <span class="smallcaps">Trézin</span> Christian, « Mme de Sévigné et la chronique des travaux à Grignan », dans 
               <i>Sévigné, épistolière du Grand Siècle. Catalogue de l’exposition du 25 mai au 22 octobre
                  2017 au château de Grignan
               </i>, Lyon, Libel, 2017, p. 50-55.
            </li>
            <li>
               <span class="smallcaps">Trézin</span> Christian, « Mythe sévignéen et tourisme à Grignan », dans 
               <i>Sévigné, épistolière du Grand Siècle. Catalogue de l’exposition du 25 mai au 22 octobre
                  2017 au château de Grignan
               </i>, Lyon, Libel, 2017, p. 88-100.
            </li>
            <li>
               <span class="smallcaps">Tourrette</span> Éric, « L’ombre des Maximes », dans C. Lignereux (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, 2012, p. 147-158.
            </li>
            <li>
               <span class="smallcaps">Vanackere</span> Mathilde, « “Les moindres choses me sont chères” : l’invention du quotidien dans les Lettres de 1671
               de Madame de Sévigné », dans
               <i> Séminaire Sévigné, Journée d’agrégation organisée par C. Poulouin à l’Université
                  de Rouen le 13 décembre 2012
               </i>, Publications numériques du CÉRÉdI, « Séminaires de recherche », n° 1, 2013 : URL: http://ceredi.labos.univ-rouen.fr/public/?les-moindres-choses-me-sont-cheres.html.
            </li>
            <li>
               <span class="smallcaps">Vanackere</span> Mathilde, « Les petits drames du corps : esquisses d’une poétique du vivant dans la Correspondance
               de Madame de Sévigné », ATALA Cultures et sciences humaines, n° 16, septembre 2013, p. 259-269.
            </li>
            <li>
               <span class="smallcaps">Vanackere</span> Mathilde, « “Qui es-tu ?” Discours personnels et subjectivité », dans J. Sribnai (dir.), Récit et relation de soi au XVIIe siècle, Acta Fabula, volume 16, n° 1, janvier 2015, http://www.fabula.org/revue/document9064.php.
            </li>
            <li>
               <span class="smallcaps">Vanackere</span> Mathilde, « Usages, plaisirs &amp; troubles du récit en régime épistolaire : le cas Sévigné », Acta fabula, vol. 17, n° 6, novembre-décembre 2016, URL : http://www.fabula.org/revue/document9934.php.
            </li>
            <li>
               <span class="smallcaps">Vanackere</span> Mathilde, « Vivre avec La Fontaine. Le cas Sévigné », Le Fablier, n° 27, 2016, p. 73-80.
            </li>
            <li>
               <span class="smallcaps">Viallet</span> Adrien, « Les lettres de reprise entre Mme de Sévigné et Bussy-Rabutin », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 297-314.
            </li>
            <li>
               <span class="smallcaps">Vialleton</span> Jean-Yves, « Écriture épistolaire et rhétorique : Aristote, ancêtre de la marquise de Sévigné », dans C. Lignereux (dir.), 
               <i>Lectures de Mme de Sévigné. Les lettres de 1671</i>, Rennes, PUR, 2012, p. 49-66.
            </li>
            <li>
               <span class="smallcaps">Zoberman</span> Pierre, « Sévigné ou La Nouvelle Héroïde », dans C. Lignereux (dir.), 
               <i>La première année de correspondance entre Mme de Sévigné et Mme de Grignan</i>, Paris, Classiques Garnier, 2012, p. 45-58.
            </li>
         </ol>
         
      </div>
   </div>
</div>{% endblock %}