{% extends "project.html.twig" %}

{% block title %}Bibliographie autour de Madame De Sévigné - Crédits et mentions légales{% endblock %}
{% block content %}<div class="row">
   <div class="col text-justify">
      <H3>Publication</H3>
      <p> L'édition est publiée par
         
         <span title="tei:publisher">ELAN – Équipe Littératures et Arts Numériques</span>.
      </p>
      <H3>Diffusion</H3>
      <p title="tei:availability">Les données sont disponibles sous licence
         <a href="">Attribution 2.0 France (CC BY 2.0 FR)</a>.
      </p>
      <H3>Sources</H3>
      <p>Répertoire préparé par Cécile Lignereux et Simon Gabay. Site préparé par Anne Garcia-Fernandez.</p>
      <p>Les sources TEI sont disponibles en haut de chaque page du site.</p>
      <p>Les sources du site Internet sont disponibles sur 
         <a href="https://gitlab.com/litt-arts-num/madame-de-sevigne">https://gitlab.com/litt-arts-num/madame-de-sevigne</a>.
      </p>
      <H3>Crédits photographiques</H3>
      <div class="row">
         <div class="col-11 offset-1">
            <li>Les Châteaux de la Drôme, 26230 Grignan (France)
               <ul>
                  <li>
                     <img width="30px" style="inline" src="data/img/Images_gallery/chambre_d.jpg"></img>
                     <i>Chambre de Madame de Sévigné</i>.
                  </li>
                  <li>
                     <img width="30px" style="inline" src="data/img/Images_gallery/Grignan_d.jpg"></img>
                     <i>Façade du château de Grignan</i>.
                  </li>
                  <li>
                     <img width="30px" style="inline"
                          src="data/img/Images_gallery/MsGrignan_inv1329_d.jpg"></img>
                     <i>Lettre autographe de Madame de Sévigné (Grignan, Inv. 1329)</i>.
                  </li>
                  <li>
                     <img width="30px" style="inline" src="data/img/Images_gallery/signature_d.jpg"></img>
                     <i>Signature autographe de Madame de Sévigné (Grignan, Inv 1229)</i>.
                  </li>
               </ul>
            </li>
            <li>Bibliothèque Nationale de France, Paris (France)
               <ul>
                  <li>
                     <img width="30px" style="inline"
                          src="data/img/Images_gallery/Lettres1726_Rouen_btv1b86146056_f23.jpg"></img>
                     <i>Lettre de l'édition subreptice de Rouen</i>. Source : 
                     <a href="https://gallica.bnf.fr/ark:/12148/btv1b86146056/f23.item">https://gallica.bnf.fr/ark:/12148/btv1b86146056/f23.item</a>
                  </li>
                  <li>
                     <img width="30px" style="inline"
                          src="data/img/Images_gallery/Lettres1726_Rouen_btv1b86146056_f7.jpg"></img>
                     <i>Page de garde de l'édition subreptice de Rouen</i>. Source : 
                     <a href="https://gallica.bnf.fr/ark:/12148/btv1b86146056/f7.image">https://gallica.bnf.fr/ark:/12148/btv1b86146056/f7.image</a>
                  </li>
               </ul>
            </li>
            <li>Wikicommons/Luna04
               <ul>
                  <li>
                     <img width="30px" style="inline" src="data/img/Images_gallery/Rochers.jpg"></img>
                     <i>Château des Rochers-Sévigné à Vitré, France</i>. Source : 
                     <a href="https://commons.wikimedia.org/wiki/File:Castle-Rochers-Sevigne2.jpg">https://commons.wikimedia.org/wiki/File:Castle-Rochers-Sevigne2.jpg</a>
                  </li>
               </ul>
            </li>
            <li>Wikicommons/Phrood~commonswiki
               <ul>
                  <li>
                     <img width="30px" style="inline" src="data/img/Images_gallery/deco_Portrait2.jpg"></img>
                     <i>Portrait de Mme de Sévigné</i>. Source : 
                     <a href="https://commons.wikimedia.org/wiki/File:Marquise_de_S%C3%A9vign%C3%A9.jpg">https://commons.wikimedia.org/wiki/File:Marquise_de_S%C3%A9vign%C3%A9.jpg</a>
                  </li>
               </ul>
            </li>
         </div>
      </div>
      <H3>Soutiens</H3>
      <div class="row border-bottom ml-3">
         <div class="m-1 mr-3" style="height: 100px;">
            <a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/">
               <img class="h-50 d-inline-block" src="img/Logo_LittArts.png"
                    title="Litt&amp;Arts (UMR 5316)"></img>
            </a>
         </div>
         <div class="m-1 mr-3" style="height: 100px;">
            <a target="_blank" href="https://www.univ-grenoble-alpes.fr/">
               <img class="h-50 d-inline-block" src="img/logo-uga-2020.png"
                    title="Université grenoble Alpes"></img>
            </a>
         </div>
         <div class="m-1 mr-3" style="height: 100px;">
            <a target="_blank" href="http://www.cnrs.fr">
               <img class="h-50 d-inline-block" src="img/LOGO_CNRS_2019_RVB.png" title="CNRS"></img>
            </a>
         </div>
         <div class="m-1 mr-3" style="height: 100px;">
            <a target="_blank" href="http://www.elan-numerique.fr">
               <img class="h-50 d-inline-block" src="img/Logo_ELAN.png"
                    title="ELAN, Équipe Littératures et Arts Numériques de Litt&amp;Arts"></img>
            </a>
         </div>
         <div class="m-1 mr-3" style="height: 100px;">
            <a target="_blank" href="https://www.chateaux-ladrome.fr/fr/chateau-de-grignan">
               <img class="h-50 d-inline-block" src="img/logo_Chateau-de-la-Drome.png"
                    title="Château de Grignan"></img>
            </a>
         </div>
         <div class="m-1 mr-3" style="height: 100px;">
            <a target="_blank" href="http://www.unine.ch/">
               <img class="h-50 d-inline-block" src="img/UniNE_pos_c.jpg"
                    title="Université de Neuchatel"></img>
            </a>
         </div>
      </div>
   </div>
</div>{% endblock %}