{% extends "base.html.twig" %}{% block title %}Bibliographie autour de Madame De Sévigné - Événements{% endblock %}

{% block tei_link %}./data/tei/HN_Sevigne_events.xml{% endblock %}

{% block content %}
<div class="container">
   <div class="row">
      <div id="main-container" class="col text-justify">
         
         <H2>Actualités</H2>
         
         <div class="col">
            
            <div class="row m-2 pb-3 pt-4 border-bottom">
               <div class="col-3">
                  <img class="event rounded mt-2" width="99%" src="data/img/Images_events/Event_2017_ExpoGrignan.jpg">
                     <figcaption class="text-secondary">Sévigné, épistolière du Grand Siècle</figcaption>
                  </img>
               </div>
               <div class="col-9">
                  <div class="row">
                     <div class="col-6 fa fa-map-marker"> Château de Grignan</div>
                     <div class="fa fa-calendar col-6 text-right"> Du 25 mai au 22 octobre 2017</div>
                  </div>
                  <p>
                     
                     
                     
                     
                     Le château de Grignan est à jamais associé à Madame de Sévigné, femme de lettres devenue
                     célèbre après la parution de sa correspondance. L'exposition retrace le parcours de
                     cette épistolière d'exception entre Paris, Vitré (Bretagne) et Grignan, où elle séjourne
                     auprès de sa fille. Elle met en lumière l'évolution de son écriture, l'art de vivre
                     en Provence et le mythe sévignéen, à travers plus de cent objets et oeuvres d'art
                     illustrant le Grand Siècle.
                     
                     
                     
                     Présentation de l'exposition.
                     
                     
                     Catalogue de l'exposition.
                     
                     
                     
                  </p>
                  <div class="row">
                     <div class="col-12">
                        <p class=" fa fa-book"> Bibliographie associée :</p>
                        <ol class="bibl">
                           <li>
                              <a class="fa fa-link" href="https://www.chateaux-ladrome.fr/fr/saison-2017-2018/expositions/sevigne-epistoliere-du-grand-siecle"> Présentation de l'exposition.</a>
                           </li>
                           <li>
                              <a class="fa fa-archive" href="HN_Sevigne_documentation/Event_2017_ExpoGrignan_desc.pdf"> Catalogue de l'exposition.</a>
                           </li>
                        </ol>
                     </div>
                  </div>
               </div>
            </div>
            
            <div class="row m-2 pb-3 pt-4 border-bottom">
               <div class="col-3">
                  <img class="event rounded mt-2" width="99%" src="data/img/Images_logos/Logo_LogoVoixTexte.png">
                     <figcaption class="text-secondary">La Voix d’un texte au Panthéon</figcaption>
                  </img>
               </div>
               <div class="col-9">
                  <div class="row">
                     <div class="col-6 fa fa-map-marker"> Panthéon, Paris</div>
                     <div class="fa fa-calendar col-6 text-right"> 9 juin 2018</div>
                  </div>
                  <p>
                     
                     
                     
                     
                     Les Lettres de Madame de Sévigné (1626-1696) ne constituent pas une œuvre littéraire
                     comme les autres – d’ailleurs, la marquise n’avait pas envisagé leur publication.
                     Journaliste du Grand Siècle, l’épistolière rapporte, à ses amis éloignés de Paris,
                     tous les plus grands scandales de la Cour du Roi-Soleil : le mariage manqué de la
                     Grande Mademoiselle, l’affaire des poisons impliquant la Brinvilliers et la sorcière
                     dite « la Voisin », la mort de Turenne, et bien d’autres. En donnant à ses lettres
                     l’allure et le charme d’une conversation mondaine, elle leur permet d’accéder à une
                     véritable dignité littéraire. Ses Lettres témoignent aussi et surtout d’une passion
                     extraordinaire, d’un amour plus fort que la distance, celui d’une mère pour sa fille
                     partie vivre à Grignan : l’écriture est alors, aux yeux de Madame de Sévigné, une
                     nécessité vitale.
                     
                     
                     Présentation
                     
                     
                  </p>
               </div>
            </div>
            
            <div class="row m-2 pb-3 pt-4 border-bottom">
               <div class="col-3">
                  <img class="event rounded mt-2" width="99%" src="data/img/Images_logos/Logo_FranceCulture.jpg">
                     <figcaption class="text-secondary">Madame de Sévigné (1626-1696): dans les petits papiers du Grand Siècle</figcaption>
                  </img>
               </div>
               <div class="col-9">
                  <div class="row">
                     <div class="col-6 fa fa-bank"> France culture</div>
                     <div class="fa fa-calendar col-6 text-right"> 19 mars 2016</div>
                  </div>
                  <p>
                     
                                       
                     
                     France culture
                     Dans ses fameuses lettres, Madame de Sévigné chroniqua le procès de Fouquet tout autant
                     que la vie provinciale du château des Rochers à Vitré, tout cela pour l’amour d’une
                     femme : sa fille, partie à Grignan vivre auprès de son Comte de mari...
                     
                     
                     Site de l'émission.
                     
                     
                  </p>
               </div>
            </div>
            
            <div class="row m-2 pb-3 pt-4 border-bottom">
               <div class="col-3">
                  <img class="event rounded mt-2" width="99%" src="data/img/Images_logos/Logo_LogoParisSaclay.jpg">
                     <figcaption class="text-secondary">Soutenance de thèse</figcaption>
                  </img>
               </div>
               <div class="col-9">
                  <div class="row">
                     <div class="col-6 fa fa-bank"> Université Paris-Saclay</div>
                     <div class="fa fa-calendar col-6 text-right"> 2 décenbre 2017</div>
                  </div>
                  <p>
                     
                     
                     Le vivant dans la Correspondance de Madame de Sévigné
                     
                     Université Paris-Saclay
                     La Correspondance de Sévigné retrace la vie quotidienne, émotionnelle et morale de
                     l'épistolière, dont on a souvent collecté et interprété les aléas dans une perspective
                     biographique ou socio-littéraire. À travers le "vivant", notion transversale et unifiante,
                     nous nous proposons de mettre au jour les articulations entre l'existence sévignéenne
                     et la lettre, entre formes de vie et formes d'écriture, et ainsi d'envisager à nouveaux
                     frais la puissance de réflexion et de transformation de l'écriture sévignéenne.
                     
                     
                     Catalogue de l'exposition.
                     
                     
                  </p>
               </div>
            </div>
            
            <div class="row m-2 pb-3 pt-4 border-bottom">
               <div class="col-3">
                  <img class="event rounded mt-2" width="99%" src="data/img/Images_events/EEvent_2017_ConfEns.jpg">
                     <figcaption class="text-secondary">Vivre en toutes lettres : le cas Sévigné</figcaption>
                  </img>
               </div>
               <div class="col-9">
                  <div class="row">
                     <div class="col-6 fa fa-map-marker"> ENS-Ulm</div>
                     <div class="fa fa-calendar col-6 text-right"> 16 juin 2017</div>
                  </div>
                  <p>
                     
                     
                     
                     
                     Dans quelle mesure la lettre permet-elle de saisir un « vivre » qui ne se réduise
                     pas à des biographèmes ? L’éclatement des paradigmes moraux et spirituels dans la
                     Correspondance et l’adaptation des pratiques de soi à un quotidien dont la lettre « enregistr[e]
                     […] [l]es écarts et [l]es variations » (pour reprendre le propos de François Jullien
                     au sujet de Montaigne) semblent faire émerger un « vivre » en mouvement : quelles
                     ressources physiques, morales et esthétiques, sont alors mobilisées dans la lettre
                     sévignéenne pour rendre compte des interrogations existentielles, et avec quelles
                     conséquences sur l’écriture épistolaire ?
                     
                     
                     
                     Programme en ligne
                     
                     
                     Programme en PDF
                     
                     
                     
                  </p>
                  <div class="row">
                     <div class="col-12">
                        <p class=" fa fa-book"> Bibliographie associée :</p>
                        <ol class="bibl">
                           <li>
                              <a class="fa fa-link" href="https://www.fabula.org/actualites/journee-d-etude-vivre-en-toutes-lettres-le-cas-sevigne_78992.php"> Programme en ligne</a>
                           </li>
                           <li>
                              <a class="fa fa-archive" href="HN_Sevigne_documentation/Event_2017_ConfEns_prog.pdf"> Programme en PDF</a>
                           </li>
                        </ol>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>
         
      </div>
   </div>
</div>{% endblock %}