{% extends "project.html.twig" %}{% block title %}Bibliographie autour de Madame De Sévigné - Page d'accueil{% endblock %}

{% block tei_link %}./data/tei/HN_Sevigne_index.xml{% endblock %}

{% block content %}
<div class="row">
   <div class="col text-justify">
      <img class="rounded float-right img-thumbnail p-2 ml-3 mb-3"
           style="background:transparent; max-height: calc(100vh - 180px);"
           src="data/img/medaillon_fondTransparent.png"></img>
      
      <H1 id="">Répertoire Sévigné</H1>
      
      
      
      <p>Bienvenue sur le site consacré à la correspondance de Madame de Sévigné, créé et animé
         par Cécile Lignereux, Simon Gabay et ELAN, l'équipe Littératures et Arts Numériques de
         l'UMR 5316 (Litt&amp;Arts).
      </p>
      
      <p>Vous y trouverez un répertoire des sources imprimées et manuscrites, une liste des
         travaux critiques régulièrement mise à jour, ainsi que des actualités et des ressources
         iconographiques.
      </p>
      
      <p>REPERTOIRE. s. m. Inventaire, table ou recueil, où les choses, les matieres sont rangées dans
         un ordre, qui fait qu'on les trouve facilement. (Furetière, 
         <i>Dictionnaire universel</i>, 1727).
      </p>
      
   </div>
</div>{% endblock %}