{% extends "base.html.twig" %}

{% block title %}Bibliographie autour de Madame De Sévigné{% endblock%}
{% block navstyle %}background-size: cover; background-image: url('img/papierpeint.png');{% endblock %}
{% block navlogo %}data/img/medaillon_fondTransparent.png{% endblock %}
{% block tei_link %}./data/tei/HN_Sevigne_corpus.xml{% endblock %}
{% block favicon %}data/img/medaillon_fondTransparent.png{% endblock %}
{% block legalpage %}./index.php?page=credits{% endblock %}
{% block menu %}<li class="nav-item">
   <a class="nav-link" href="index.php?page=index">
      <i class="fa fa-home" aria-hidden="true"></i> Page d'accueil
   </a>
</li>
<li class="nav-item">
   <a class="nav-link" href="index.php?page=bibliography">
      <i class="fa fa fa-book" aria-hidden="true"></i> Bibliographie
   </a>
</li>
<li class="nav-item">
   <a class="nav-link" href="index.php?page=links">
      <i class="fa fa-external-link" aria-hidden="true"></i> Liens
   </a>
</li>
<li class="nav-item">
   <a class="nav-link" href="index.php?page=news">
      <i class="fa fa-calendar" aria-hidden="true"></i> Actualités
   </a>
</li>
<li class="nav-item">
   <a class="nav-link" href="index.php?page=team">
      <i class="fa fa fa-users" aria-hidden="true"></i> Équipe
   </a>
</li>
<li class="nav-item">
   <a class="nav-link" href="index.php?page=gallery">
      <i class="fa fa fa-image" aria-hidden="true"></i> Galerie d'images
   </a>
</li>{% endblock %}
{% block logos %}
<a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/">
   <img src="img/Logo_LittArts.png" title="Litt&amp;Arts (UMR 5316)"></img>
</a>
<a target="_blank" href="https://www.univ-grenoble-alpes.fr/">
   <img src="img/logo-uga-2020.png" title="Université grenoble Alpes"></img>
</a>
<a target="_blank" href="http://www.cnrs.fr">
   <img src="img/LOGO_CNRS_2019_RVB.png" title="CNRS"></img>
</a>
<a target="_blank" href="http://www.elan-numerique.fr">
   <img src="img/Logo_ELAN.png"
        title="ELAN, Équipe Littératures et Arts Numériques de Litt&amp;Arts"></img>
</a>
<a target="_blank" href="https://www.chateaux-ladrome.fr/fr/chateau-de-grignan">
   <img src="img/logo_Chateau-de-la-Drome.png" title="Château de Grignan"></img>
</a>
<a target="_blank" href="http://www.unine.ch/">
   <img src="img/UniNE_pos_c.jpg" title="Université de Neuchatel"></img>
</a>{% endblock %}
{% block sourcelink %}https://gitlab.com/litt-arts-num/madame-de-sevigne{% endblock %}
