{% extends "project.html.twig" %}{% block title %}Bibliographie autour de Madame De Sévigné - Équipe{% endblock %}

{% block tei_link %}./data/tei/HN_Sevigne_people.xml{% endblock %}

{% block content %}
<div class="row">
   <div class="col text-justify">
      
      <H2 id="">Équipe</H2>
      
      <div class="col">
         <div class="row m-2 pb-3 pt-4 border-bottom person-card">
            <div class="col-3 order-1">
               <img class="person rounded mt-2" width="99%"
                    src="data/img/Images_people/People_GabaySimon.jpg"></img>
            </div>
            <div class="col-9 order-2">
               <div class="row">
                  <div class="col-6 offset-6 text-right">
                     <a class="fa fa-external-link" href="https://cv.archives-ouvertes.fr/simon-gabay"> Page personnelle</a>
                  </div>
                  <h3>
                     Simon
                     <span class="smallcaps">Gabay</span>
                     
                  </h3>
                  <p>
                     <i>Maître-assistant à l'université
                        de Genève (Suisse), il prépare actuellement sa thèse
                        d'habilitation en philologie computationnelle.
                     </i>
                  </p>
                  <p></p>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom person-card">
            <div class="col-3 order-2">
               <img class="person rounded mt-2" width="99%"
                    src="data/img/Images_people/People_LignereuxCecile.jpg"></img>
            </div>
            <div class="col-9 order-1">
               <div class="row">
                  <div class="col-6 offset-6 text-right">
                     <a class="fa fa-external-link"
                        href="https://cv.archives-ouvertes.fr/cecile-lignereux"> Page personnelle</a>
                  </div>
                  <h3>
                     Cécile
                     <span class="smallcaps">Lignereux</span>
                     
                  </h3>
                  <p>
                     <i>Maître de conférences à
                        l'université Grenoble Alpes (France), elle
                        a sa consacré sa thèse à Mme de
                        Sévigné.
                     </i>
                  </p>
                  <p></p>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom person-card">
            <div class="col-3 order-1">
               <img class="person rounded mt-2" width="99%"
                    src="data/img/Images_people/People_AnneGF2017.jpg"></img>
            </div>
            <div class="col-9 order-2">
               <div class="row">
                  <div class="col-6 offset-6 text-right">
                     <a class="fa fa-external-link"
                        href="https://www.univ-grenoble-alpes.fr/fr/acces-direct/annuaire/anne-garcia-fernandez--289406.kjsp?RH=LITTEARTSFR_MEMB03"> Page personnelle</a>
                  </div>
                  <h3>
                     Anne
                     <span class="smallcaps">Garcia-fernandez</span>
                     
                  </h3>
                  <p>
                     <i>Ingénieure de recherche
                        CNRS au sein de l'équipe ELAN  de
                        Litt&amp;Arts (UMR 5316, UGA/CNRS) (Grenoble,
                        France), elle est spécialiste en Humanités
                        Numériques.
                     </i>
                  </p>
                  <p>Elle participe à la conception du site et en particulier à la
                     transformation TEI vers HTML.
                  </p>
               </div>
            </div>
         </div>
         <div class="row m-2 pb-3 pt-4 border-bottom person-card">
            <div class="col-3 order-2">
               <img class="person rounded mt-2" width="99%"
                    src="http://www.elan-numerique.fr/img/elan-blog.png"></img>
            </div>
            <div class="col-9 order-1">
               <div class="row">
                  <div class="col-6 offset-6 text-right">
                     <a class="fa fa-external-link" href="http://www.elan-numerique.fr"> Les projet d'ELAN</a>
                  </div>
                  <h3> ELAN, l'Équipe Littératures et Arts Numériques de
                     Litt&amp;Art (UMR 5316) 
                  </h3>
                  <p>
                     <i></i>
                  </p>
                  <p>Dans le cadre de ce projet, sont fournis à ELAN l'intégralité des
                     contenus du futur site sous forme de fichiers XML-TEI : tout est structuré et
                     encodé selon les recommandations de ce standard. ELAN prend ainsi en charge la
                     création d'un site web à partir des fichiers XML-TEI et la proposition de
                     solutions en ligne pour la mise à jour des contenus
                  </p>
               </div>
            </div>
         </div>
      </div>
      
   </div>
</div>{% endblock %}